[2017-04-13 10:36] Mariatta opened #3 "Add the link to b.p.o as a comment on GitHub"
Currently, the link back to b.p.o is only shown as a status check when PR is not yet merged.
Often I still re-read a merged PR, for example while backporting changes.
After a cherry-pick PR has been merged, we're supposed to go back to the bug tracker and close the issue.
However, since the PR has been merged, the status check is no longer visible.
So I think it will be nice if the link to the bug

[2017-04-13 10:40] Mariatta commented on #3
Or, instead of a comment, maybe just update the PR description with a link to b.p.o.

[2017-04-13 13:23] bitdancer commented on #3
On Thu, 13 Apr 2017 03:40:48 -0700, Mariatta <notifications@github.com> wrote:

I like this, since it would put the link at the top of the page in a
predictable place.

[2017-04-13 18:42] gpshead commented on #3
agreed. a comment containing the full URL is much more obvious to humans
than knowing we should look for a "Details" link from something named
bedevere. :)

On Thu, Apr 13, 2017 at 6:23 AM R. David Murray <notifications@github.com>
wrote:

[2017-04-13 21:55] Mariatta opened #4 "Still link to b.p.o when both issue number and trivial label are found"
For example: https://github.com/python/cpython/pull/1120

It has both bpo-NNNN in the PR title and `trivial` label.
bedevere status check should still have details link to the said issue.

Thanks :)

[2017-04-13 23:09] terryjreedy commented on #4
Definitely.  In this case, the issue https://bugs.python.org/issue29861 and initial patch were not at all trivial, just the minor cleanup for occasional test failures reported on the issue.

[2017-04-14 17:54] brettcannon opened #6 "Set up code coverage with codecov"

[2017-04-14 18:20] brettcannon commented on #3
So I take it people want both the check so people know they should add the issue number **and** a comment that links back to the issue? Or at people arguing for dropping the status check entirely in favour of just a comment?

One trick with adding the comment is the bot will need to check if a comment was already left before leaving a new one. There's also editing in-place the first comment from t

[2017-04-14 20:22] #6 closed

[2017-04-14 20:29] brettcannon opened #8 "Reach 100% test coverage"

[2017-04-14 21:06] Mariatta commented on #3
I think the status check is still useful, and it's already implemented, why not keep it.

Instead of creating a new comment, is it possible to update the PR description?
Perhaps as a footer (or header) of the PR:
``See: https://bugs.python.org/issue1234``

If the issue number is changed, simply replace it.

[2017-04-15 22:02] brettcannon commented on #3
If you're talking about **after** a PR is closed then that's fine, although at that point what's the benefit if you're still going to have to copy and paste the link compared to the issue number from the title? The "bpo-" prefix namespaces the number so I'm not seeing the benefit of specifying the full URL for record-keeping. Is this purely for people who have no idea what bpo numbers represent?

[2017-04-15 22:21] brettcannon commented on #3
To help get a clearer and wider amount of feedback to settle this conclusively I have emailed core-workflow on this topic.

[2017-04-15 23:40] #4 closed

[2017-04-15 23:51] terryjreedy commented on #3
I would like both a status check and a persistent link.  The status check should be for either bpo-nnnn in the title or a Trivial tag.    Should only committers be able to tag?  I would like 'bpo-nnnnn' in the title to be the link, but I am guessing this is not possible as we do not control everything on the PR.

[2017-04-16 15:44] bitdancer commented on #3
I want both the status check and the convenience link.  If I had to
choose only one I'd pick the convenience link, but not by a wide margin.

[2017-04-16 18:51] brettcannon commented on #3
@terryjreedy I believe only people with write access to the repo can set labels, so you already have the control level you want.

[2017-04-26 00:41] #8 closed

[2017-05-03 17:18] brettcannon commented on #3
Just an FYI, my current thinking is we will append the link to the PR message's body along with some text reminding folks to keep comments on GitHub to only code reviewing, while all other comments should go to bugs.python.org.

[2017-05-03 17:31] Mariatta commented on #3
That sounds good.

[2017-05-03 20:37] Mariatta opened #13 "Have bedevere remove "needs backport to *" labels"
Proposed in https://github.com/python/core-workflow/issues/58#issuecomment-298961610

Since @brettcannon said this can be a bedevere thing, I opened this issue :)

When a PR is created, bedevere can check if [X.Y] is in the PR title, and then apply `cherry-pick for X.Y` label.

1. backports created with cherry_picker.py have [X.Y] for sure
2. those not using cherry_picker.py have been instructed t

[2017-05-09 17:20] Mariatta commented on #13
If we decide not to apply cherry-pick labels anymore, then bedevere can just be responsible in removing the `needs backport to X.Y` labels.

[2017-05-09 18:59] brettcannon commented on #13
I'm not sure how you would go from cherry-pick back to the original (if a bot were making the cherry-pick PRs then it already has a reference to the original PR). Search through all closed PRs for a matching title? Maybe there's something in the PR data from GitHub but I don't know what it would be off the top of my head.

[2017-05-09 19:52] Mariatta commented on #13
Sure, I guess it will be easier to get cherry-picker the bot to do it :)

Supposedly, there's the reference to the original GitHub issue number in the backport PR.
For example, this backport PR https://github.com/python/cpython/pull/1446, the PR title includes GH-1372, which is the original PR # that was against the master branch.

Here's another example, https://github.com/python/cpython/pull/147

[2017-05-09 20:44] brettcannon commented on #13
Yeah, if there's no metadata in the webhook event in the opening of a cherry-pick PR we can try and guess the original PR by the title.

[2017-05-09 23:18] brettcannon commented on #13
One thing to watch out for when reading the title is there is a length limit. This can lead to issues like the title spilling over into the body of the PR message, e.g. https://api.github.com/repos/python/cpython/pulls/1522/ .

[2017-05-17 18:03] soltysh commented on #3
/cc

[2017-05-23 18:13] brettcannon opened #14 "Leave follow-up comments for committers when best practices not followed"
Since we don't have pre-commit hooks to block people from doing something that goes against what we outline in the devguide, we could leave a comment post-commit to remind core devs of how they should be doing something. That way there's at least a feedback loop to help core devs change their habits going forward.

[2017-05-26 22:45] Mariatta opened #15 "Validate the bpo number"
The bpo number provided in https://github.com/python/cpython/pull/1798 is not valid (46895)
 https://bugs.python.org/issue46895 is a 404

Maybe bedevere can also validate whether the issue number is correct :)

[2017-05-27 19:20] brettcannon commented on #15
Yeah, we could do a simple GET request and see if the response is a 404 or not to flag the issue number as formatted properly but not an actual issue number.

[2017-05-29 05:08] serhiy-storchaka commented on #15
Doing a HEAD request may be enough.

[2017-06-03 20:58] brettcannon commented on #14
Comments could involve:
1. Forgetting the version number, e.g. `[3.6]`
2. Forgetting to namespace PR numbers, e.g. `(GH-1234)` instead of `(#1234)`
3. Forgetting to drop the bullet points in the default commit message when multiple commits used  to construct the PR

[2017-06-16 22:19] Mariatta commented on #13
Awesome! Thanks!

[2017-06-17 01:34] Mariatta commented on #13
Hmm.. did not work with this PR https://github.com/python/cpython/pull/2253

Which is a backport for https://github.com/python/cpython/pull/1685

[2017-06-17 15:54] brettcannon commented on #13
I'll have a look.

[2017-06-17 17:58] #13 closed

[2017-06-17 18:01] brettcannon commented on #13
And it works!

[2017-06-17 18:05] brettcannon commented on #3
This is next in the work queue for me unless someone else wants to tackle it, in which case I will move on to the next work item.

[2017-06-22 16:26] kushaldas commented on #3
@brettcannon I will work on this tomorrow after I wake up (unless you already working on it).

[2017-06-22 16:31] brettcannon commented on #3
Nope, go for it!

[2017-06-23 03:36] brettcannon commented on #3
I should mention an idea I had was to use HTML comments to surround the inserted text to make it easy to discover if the link had already been inserted or something:
[code]

[2017-06-26 19:56] brettcannon opened #25 "Use a "skip issue" label for skipping the issue number check"
This is instead of a "trivial" label to give finer-grained control over what is (or is not) important when other checks are added that should also be conditionally skipped.

See https://mail.python.org/pipermail/python-dev/2017-June/148486.html

[2017-06-27 19:08] Mariatta opened #26 "Copy over labels to backport PRs"
When backporting, I try to copy over labels from the original PR to the backport PR, for example the "trivial" or "documentation" labels.

Perhaps this is something that can be automated and done by bedevere.
At the very least, the "trivial" label should be copied over.

UPDATE:
Copy over `skip issue` label instead of `trivial`. `trivial` label is no more.

UPDATE 2.0:
At the very least, copy over

[2017-06-28 01:07] brettcannon commented on #26
It can definitely be automated, although the "trivial" label will probably be renamed shortly thanks to #25 .

[2017-07-10 20:09] brettcannon commented on #25
To transition, the `skip issue` label should be created and applied to all issues with the `trivial` label. Then the change to Bedevere can be made. Once it's verified as live, the `trivial` label can be deleted.

[2017-07-10 20:21] Mariatta commented on #25
Should there be two labels: `skip issue` and `skip news entry`?
That was my understanding from the thread....

[2017-07-11 00:28] brettcannon commented on #25
Yes, there should be eventually. But since #22 isn't committed yet there's no need for a `skip news` label yet.

[2017-07-11 02:45] Mariatta commented on #25
Got it. Thanks for the clarification :)
🤔  Instead of creating a new label, can we rename the existing `trivial` label into `skip issue`?

[2017-07-11 21:33] brettcannon commented on #25
@Mariatta yes, but there would be a race condition between renaming the issue and deploying a new version of Bedevere that recognizes `skip issue`. And since labels have no ID beyond their text there's no reason I can think of to rename it but potentially have some new PR come in that is labeled as failing due to its lack of issue number.

[2017-07-13 05:22] Mariatta commented on #25
So here are the PRs with "trivial" label: 257 total, only 5 of them open
https://github.com/python/cpython/pulls?utf8=%E2%9C%93&q=is%3Apr%20label%3Atrivial%20

When a label is renamed, all of the affected PRs and issues get updated with the new label.
I think it will be less effort to rename the label instead of creating a new one and try to apply the new label.

However.. I don't know what can be

[2017-07-13 19:50] brettcannon commented on #25
Adding a new label to all of the open PRs is about 6 clicks from https://github.com/python/cpython/pulls :

1. Click the Labels button
2. Click Trivial
3. Click the "Select All" box
4. Click Labels drop-down
5. Click "skip issue"
6. Click off of drop-down to apply

And then label deletion is about 3 clicks from there. Hopefully this doesn't come off as pedantic or anything as it isn't meant to; I

[2017-07-14 17:26] brettcannon commented on #25
All done! Thanks for the PR!

[2017-07-14 17:26] #25 closed

[2017-08-11 19:37] #3 closed

[2017-08-14 18:29] brettcannon opened #38 "remove duplicate mentions of core devs in "Spanish Inquisition" response"
See https://github.com/python/cpython/pull/3077#issuecomment-322054892 for what currently happens.

[2017-08-14 18:29] brettcannon opened #39 "Don't mention folks who only leave comments"
See https://github.com/python/cpython/pull/3077#issuecomment-322054892 where core devs who only commented were notified.

[2017-08-14 19:35] terryjreedy opened #42 "Bedevere does not see new news file"
When I updated https://github.com/python/cpython/pull/2573, a bedevere/news 'No news entry' comment appeared, with a red X.  I created one with blurb and pushed again -- see the end of
https://github.com/python/cpython/pull/2573/files#diff-3b70d006c35749af8a303582e5346202
However, bedevere did not recheck and is now wrong after 20 minutes.

[2017-08-14 20:48] brettcannon commented on #42
A certain someone changed the filename format in blurb from what was originally agreed upon in our spec without telling me. 😉 Fix is coming as soon as testing and code coverage come back green.

[2017-08-14 20:54] #42 closed

[2017-08-14 21:54] #38 closed

[2017-08-14 21:55] #39 closed

[2017-08-15 01:40] terryjreedy commented on #42
Fix seems to have worked.  Thanks.

[2017-08-15 02:28] Mariatta opened #46 "bedevere/issue-number status check message is cut off"
We're only seeing: ```No issue number prepended to the title or "skip is...```
https://github.com/python/cpython/pull/2975

<img width="727" alt="screen shot 2017-08-14 at 7 26 30 pm" src="https://user-images.githubusercontent.com/5844587/29299883-a57abd82-8126-11e7-845d-37ee59bab1c9.png">

[2017-08-15 06:34] ncoghlan opened #47 "Don't comment again in "awaiting changes" state"
After the review that prompted https://github.com/python/cpython/pull/3077#issuecomment-321954642, I did a second review where I replied to some of Yury & Serhiy's comments.

Bedevere picked that up as a new review and repeated its comment: https://github.com/python/cpython/pull/3077#issuecomment-321956043

Without knowing the details of how Bedevere works, I'm guessing the simplest way of avoidin

[2017-08-15 15:54] brettcannon commented on #47
Probably. I also don't know how often people will leave two consecutive reviews before the reviewer has had a chance to address them either. There's also a question of whether a message per review is useful if e.g. you had asked for changes, and then Yury did, and then Serhiy. One message is fine, but three messages gets the point across there's a lot of interest and work to be done on the PR.

[2017-08-15 16:08] brettcannon commented on #46
Yep, GitHub will visibly truncate any description with an ellipsis if it goes past what the web page will allow for. If you hover over the text it will show you the entire string.

It's also controlled by CSS so there's no hard rule as to what it will truncate at (e.g. they don't say in the their dev docs, "if you keep it to 50 characters it will typically fit" or something). IOW the situation suc

[2017-08-15 16:19] zware commented on #46
I'm not sure that the `or "skip issue" label found` part is worth the extra characters since only core team members can set labels anyway.

[2017-08-15 16:23] brettcannon commented on #46
I left that off initially and contributors were saying things like "does this really need a news entry?", so having it there so they know there's an option to not open an issue has a purpose. (Messaging is hard. 😉 )

[2017-08-15 16:25] zware commented on #46
Ok, fair enough :)

[2017-08-15 17:51] terryjreedy commented on #47
Nick, I don't understand the concrete change you are proposing.  We want good reviews.  If multiple reviews confuse the bot, so what? I don't always have time to review everything in one sitting.  And contributors cannot always respond before I have more to say.  It would help if comments could be added to an existing review, but that is out of our control.

Syncosmic's comment "Looks like bedever

[2017-08-15 18:04] terryjreedy commented on #14
The first two only involve manual backports.  #3 is really needed.

A couple of times, I have edited multiple * points to just a few, with coherent sentences.  Would that be flagged?  This would be okay if I know since the * is not really needed.

[2017-08-15 18:06] terryjreedy opened #49 "Remove CLA instructions message when CLA signed."
When the Knight adds the 'CLA signed' label, also delete the big message about how to sign the CLA.  Once signed, it is just noise that detracts from reading the page.  I have sometimes done this manually, as with #2975, but the bot would be better.

[2017-08-15 21:09] #46 closed

[2017-08-15 21:12] brettcannon commented on #47
Nick noticed that because he left to "changes requested" comments before the PR creator did anything, the bot left two comments with instructions on how to notify him that the PR was ready for another review.

The "set, not list" comment was because when the PR creator signaled he was ready for another review it listed various core devs multiple times in the notification comment (and has been fixe

[2017-08-15 21:14] brettcannon commented on #14
@terryjreedy it's not designed yet so no one knows. 😄

[2017-08-15 21:14] brettcannon commented on #49
Can you file this over at python/the-knights-who-say-ni since that's the CLA bot?

[2017-08-15 21:14] #49 closed

[2017-08-16 06:57] ncoghlan commented on #47
My concern is with the contributor experience of folks potentially feeling like the bot is "yelling" at them, regardless of whether the reason for multiple requests for changes is one reviewer adding multiple reviews, or multiple reviewers making separate requests.

Now, one thing I did learn is that if we mark a follow up review as a Comment, GitHub still leaves our prior review status in place,

[2017-08-16 22:33] brettcannon commented on #47
Now I'm not so clear on what you're after then. Do you want just pairing of review-needed/ready-for-review comments, or just one review-needed comment ever? I can understand the former but not the latter as the comment still acts as a very visible signal that there's been a "changes requested" review since the last time you thought you were done.

[2017-08-17 07:28] ncoghlan commented on #47
This issue is specifically for not commenting again when the PR is already in the "awaiting changes" state.

Shortening the comment (rather than skipping it entirely) with a phrase like "See [link to previous comment] for more details" when it's a repeat would also be nice to have, but I'd consider that a separate RFE.

[2017-08-17 16:47] Mariatta opened #50 "Backport PR labels not deleted"
In https://github.com/python/cpython/pull/3114, the backport labels were not automatically removed by bedevere-bot.

The backport PRs were initially created without `[X.Y]` prefix in PR title.
After the title has been edited, the backport PR labels were still not removed.

This happened in https://github.com/python/cpython/pull/1804 too, where I ended up removing the label myself.

Just curious if

[2017-08-17 18:56] brettcannon commented on #50
It's because it was edited after the PR was created. When I added that feature I only hooked it up for PR creation:
https://github.com/python/bedevere/blob/3df65d992e3a418342bdfe674a77f89947d03d27/bedevere/backport.py#L18-L19

[2017-08-18 22:13] #47 closed

[2017-08-18 23:03] brettcannon commented on #47
OK, the bot will now skip leaving another comment about requested changes if "awaiting changes" is already set. I also made the comment more generic by not mentioning any specific core dev.

[2017-08-20 12:18] terryjreedy commented on #26
Now it would be Skip issue and Skip news, and copying them would be nice.

[2017-08-20 12:20] terryjreedy opened #53 "Remove 'awaiting ...' labels upon merge."
Merging PR with 'awaiting merge' or 'awaiting review' does not remove labels.

[2017-08-20 13:14] ammaraskar opened #54 "Don't re-ping reviewers who have already approved."
The bot continues to ping everyone who has submitted a review, even if they have approved their review. See this example where Serhiy was pinged. https://github.com/python/cpython/pull/3066#issuecomment-323584259

[2017-08-21 16:53] brettcannon commented on #54
It's on purpose because if you changed the code in a later review that new code may need another round of reviews from previous reviewers.

[2017-08-21 16:53] #54 closed

[2017-08-21 16:54] brettcannon commented on #53
Nope, I didn't code anything up to remove labels (for no specific reason, mind you).

[2017-08-28 19:40] brettcannon opened #55 "Don't care about comment reviews from non-core devs"
https://github.com/python/cpython/pull/3226 showed that this can lead to the PR creator accidentally causing a transition to `awaiting core review` simply by leaving a comment themselves to ask a question.

[2017-08-29 17:41] #50 closed

[2017-09-01 16:04] Mariatta commented on #14
Replacing PR number from `#1234` to `GH-1234` should be done in the master PR too.

[2017-09-04 23:19] gpshead opened #57 "Highlight improperly NEWS.d entry files in the news check failure message."
In PR https://github.com/python/cpython/pull/3274 bedevere correctly kept the "No news entry in Misc/NEWS.d or "skip news" label found" warning on the PR.  Presumably because it knew I had a typo in my NEWS.d filename (`.bps-` instead if `.bpo-`)?

I misunderstood its warning as just not noticing that I had added a NEWS.d file later.  Could its warning text highlight unexpected filenames within a

[2017-09-07 19:21] Mariatta commented on #26
@miss-islington does not have write access to CPython repo, so it can't copy over the labels.
This has to be done by @bedevere-bot.

[2017-09-18 00:31] terryjreedy opened #59 "Bedevere too often misses 'skip news'"
#3635 I had to add [skip news] twice to get bedevere to recognize it.  For the backport #3637, thrice.  This is common with [skip news] and a nuisance.  Can bedevere be made more 'attentive'?  Can a 'check again' button be added?  Can clicking _details_ be made to recheck?

[2017-09-18 01:08] Mariatta commented on #59
Sounds like a similar issue where @the-knights-who-say-ni sometimes doesn't apply any CLA check status. This might be issue with GitHub not delivering the webhook.

[2017-09-19 18:20] brettcannon commented on #59
Are you waiting several minutes or hours and nothing is happening, @terryjreedy ? Do realize there is an explicit one second delay built in to deal with eventual consistency issues that GitHub has, on top of any delay that may occur from GitHub delivering the event to the bot in a delayed fashion so it will never be instantaneous.

As for Bedevere being "attentive", it's as attentive as it can be

[2017-09-19 18:31] brettcannon commented on #57
As of right now the check is a regex match for the full path of the file:
https://github.com/python/bedevere/blob/48cc64330307bd71fa9573fc7f597058e5b7ad13/bedevere/news.py#L43

It could be changed to do a `str.startswith()` check to make sure that a file exists in the proper directory in the `else` clause and then do a separate check for the filename itself after that. Both of those checks could h

[2017-09-19 19:01] terryjreedy commented on #59
I am aware that there can be a natural delay.  Next occurrence, I will wait longer and keep track of the times.

[2017-09-19 19:29] brettcannon commented on #59
Thanks!

[2017-09-23 17:54] merwok opened #61 "News file present, check fails"
On python/cpython#3684 the file was added but bedevere doesn’t see it.  Adding the skip label makes the check pass, removing it doesn’t cause a succesfull re-check.

[2017-09-24 19:24] Mariatta commented on #26
These labels should not be copied over to the backport PR:
- needs backport to X.Y
- CLA signed / CLA not signed
- awaiting ...

[2017-09-25 19:26] brettcannon commented on #61
It's working now and changing it manually is working fine. Closing as a duplicate of #59

[2017-09-25 19:26] #61 closed

[2017-09-25 19:27] brettcannon commented on #26
Does anything other than the "skip" labels need to be copied? A safe list would probably be better than a block list in this instance.

[2017-09-26 03:02] Mariatta commented on #26
Hmm.. I like copying the other labels like `type-documentation` or `sprint` too, but those are not necessary, and I might be the only one doing that ...
If no-one else care enough about the other labels, then only copying the `skip ... ` labels sounds good to me :)

[2017-09-26 06:24] igalic commented on #59
as for #61, the file was present, but the date format was incomplete.
if the Bot had reporting on its failure modes, it could be a lot more useful!

[2017-09-26 17:58] brettcannon commented on #59
#57 is tracking the plan to improve the failure message

[2017-09-26 17:59] brettcannon commented on #26
We can also copy those, I'm just saying we shouldn't make a list of what _not_ to copy, but instead of what _should_ be copied. So far there's

* skip ...
* type...
* sprint

Anything else?

[2017-09-26 18:23] terryjreedy commented on #26
With a safe set, new labels are not copied until we decide they should be.

[2017-09-26 18:59] brettcannon commented on #26
@terryjreedy correct.

[2017-09-29 19:17] #57 closed

[2017-09-29 21:49] #55 closed

[2017-09-29 22:42] brettcannon commented on #26
I've started work on fixing this. Hopefully I can complete it next week.

[2017-10-08 17:17] brettcannon commented on #59
Has this issue come up lately?

[2017-10-12 18:27] #26 closed

[2017-10-17 22:20] brettcannon commented on #59
Since this doesn't seem to have occurred again over the past month I'm closing this with the assumption that it was a GitHub hiccup.

[2017-10-17 22:20] #59 closed

[2017-10-19 15:56] Mariatta opened #69 "Dismiss review request for PRs that tries to merge from maintenance branch."
As an enhancement to https://github.com/python/core-workflow/issues/168 and https://github.com/python/bedevere/pull/60, bedevere can dismiss any codeowner review requests for PRs that tries to merge the maintenance branch into master.

API for deleting PR review request:
https://developer.github.com/v3/pulls/review_requests/#delete-a-review-request

Recent example for such PR: https://github.com/p

[2017-11-07 17:38] Mariatta opened #71 "Only remove "awaiting change" PR label after all reviewers approved."
When there are multiple reviewers who requested changes, the "awaiting change" label should only be removed after all reviewers approved the new changes.

As brought up by @1st1 in https://github.com/python/cpython/pull/4314:

[2017-11-24 18:06] brettcannon commented on #71
So I debated with myself about this when I initially implemented the feature. The problem is that core devs are not the most responsive folks in the world due to lack of time. So if two or more people review and just one of them delays, it would then delay the whole PR. This also deviates somewhat from the old workflow where you didn't have to wait for other core devs to sign off if the reviewer c

[2017-11-25 05:42] Mariatta commented on #71
I don't personally have strong preference. The simpler workflow is fine too :)
Maybe @1st1 want to reconsider this scenario, if it's fine to remove the awaiting change label as long as at least one core dev approves it?

[2018-01-26 17:57] Mariatta commented on #14
Number 2 (Forgetting to namespace PR numbers, e.g. (GH-1234) instead of (#1234)) is now done :)

[2018-01-26 22:01] Mariatta opened #88 "How can I know that bedevere has been deployed to Heroku?"
I know it will be deployed after the PR was merged, but I guess it still take some moments before it finished deployed in Heroku.

I'd be interested to know when it has been deployed so I can test the changes afterwards.

[2018-01-28 21:08] brettcannon commented on #88
I've started an email with the infrastructure team to give you access to the Heroku app.

[2018-01-28 21:08] #88 closed

[2018-01-28 21:10] brettcannon commented on #14
And Miss Islington takes care of number 1, so that just leaves number 3!

[2018-01-29 07:03] njsmith opened #90 "If a PR has no body text, bedevere seems to edit in the word "None""
Just a mild cosmetic issue but FYI.

Example:
https://github.com/python/cpython/pull/5412#issue-292302365

[2018-01-30 02:06] gpshead commented on #14
Why can't bedevere just rename the pull request titles itself?  I'm seeing lots of

messages after a PR is merged.  Where did the # come from in the first place?  Why should a human need to fix this manually?

[2018-01-30 03:02] Mariatta commented on #14
@gpshead, that part can't currently be automated. Or rather we haven't found an agreeable solution on how to automate it.

The `#` comes into play after you pressed "Squash and merge" button, and before you pressed the "Confirm squash and merge"
See screenshot: (from https://github.com/python/cpython/pull/5435)

<img width="620" alt="screen shot 2018-01-29 at 6 56 47 pm" src="https://user-images.g

[2018-01-30 07:56] tiran commented on #14
Ah, I got it :) Thanks Mariatta!

[2018-01-30 22:47] #90 closed

[2018-02-06 23:22] Mariatta opened #94 "Extract out bedevere/util.py as shared lib"
For miss-islington, I'm finding myself needing to write the same code that's already in bedevere/util.py, specifically `normalize_title()`, `is_core_dev()`, `issue_for_PR()` methods.

Wondering if we want to extract those as a shared library for the bots.
Wanted to get your thoughts about this @brettcannon.

[2018-02-13 05:52] Mariatta opened #95 "bedevere did not remove `needs backport` label"
PR https://github.com/python/cpython/pull/5500 is a backport for https://github.com/python/cpython/pull/5265

Bedevere should have removed the needs backport PR from https://github.com/python/cpython/pull/5265.

[2018-02-13 06:16] Mariatta commented on #95
So it was because the PR title starts with a space:
[code]
The regex pattern in https://github.com/python/bedevere/blob/master/bedevere/backport.py#L11 did not handle that 😅

[2018-02-13 06:58] Mariatta commented on #95
Another example: https://github.com/python/cpython/pull/5037 is the backport for https://github.com/python/cpython/pull/5034. Labels not removed from https://github.com/python/cpython/pull/5034

[2018-02-18 23:52] Mariatta commented on #95
Another example from today: https://github.com/python/cpython/pull/5746 is the backport for https://github.com/python/cpython/pull/5726

[2018-02-19 01:48] Mariatta opened #97 "500 errors for the issue number status check"
Saw 500 errors in the webhooks for several PRs:
https://github.com/python/cpython/pull/5748
https://github.com/python/cpython/pull/5746
https://github.com/python/cpython/pull/5747

[2018-02-19 01:50] Mariatta commented on #95
For python/cpython#5746, it was because the commit message on python/cpython#5726 was wrong: it did not have the correct bpo- and GH- numbers.

[2018-02-19 02:27] Mariatta commented on #97
This is because the PR does not contain bpo- number, so bedevere then looks for the `skip issue` label, but that doesn't exist either, so it doesn't know what to do. 🤔

[2018-02-19 18:28] Mariatta commented on #97
This PR could be affected by the same bug https://github.com/python/cpython/pull/5753
It is a PR targeting 2.7 branch, but there was no master PR.
bedevere did not append the bpo- number as a footer.

[2018-02-21 00:16] brettcannon commented on #97
Bedevere should set a failing status check when there is no bpo # or `skip issue` label.

[2018-02-21 00:33] brettcannon commented on #94
Fine by me!

[2018-02-21 03:11] #69 closed

[2018-02-22 16:04] merwok commented on #97
The thing is that the PR contained `bpo-1234`, but in the commit message for the squashed commit I wrote old-style `#1234` out of habit and aesthetic sense.

[2018-02-28 05:55] zhangyangyu opened #98 "Nosy PR participants in bpo issue"
I wonder whether it's possible or a good idea to automatically add pull request participants to bpo issue nosy list. Sometimes PR authors or reviewers don't add themselves to bpo issue nosy list and then might lose some notifications happened in bpo.

[2018-02-28 17:16] Mariatta commented on #98
Such change is to be done in bugs.python.org side, and it can be reported in http://psf.upfronthosting.co.za/roundup/meta/
cc  @ezio-melotti and @soltysh

I'm ok with adding PR author and reviewers to bpo nosy list.

[2018-02-28 17:16] #98 closed

[2018-03-01 16:30] asvetlov opened #100 "adopt to aiohttp 3"
The library has changed testing API.
The bot uses non-public attributes, that's why tests fail.

I could find a time for working on issue on next week if nobody will pickup the task first

[2018-03-01 17:46] brettcannon commented on #100
I assume you're referencing #99 ?

[2018-03-01 18:50] asvetlov commented on #100
Yes, exactly

[2018-03-01 21:45] brettcannon commented on #100
Look forward to your PR since I will probably be writing a GH bot at work next week and I want to do it right 😄

[2018-03-13 20:56] asvetlov commented on #100
Fixed by #101

[2018-03-13 20:56] #100 closed

[2018-03-13 20:59] Mariatta commented on #100
Thanks!

[2018-03-13 21:02] asvetlov commented on #100
Sure!

[2018-04-27 21:16] brettcannon opened #103 "Automatically hyperlink `bpo-` text"
E.g. make "bpo-31404" into "[bpo-31404](https://bugs.python.org/issue31404)" in any comment.

[2018-05-14 18:09] Mariatta commented on #95
Another instance where backport pr was not linked correctly:
https://github.com/python/cpython/pull/6807

[2018-05-15 21:46] brettcannon commented on #95
It looks like https://github.com/python/bedevere/blob/b41fe6bfc887b1c8156ba1eca2be5d6195801eb3/bedevere/backport.py#L11 is too strict. I bet we can change it to:
[code]
It will fix this. This will:
1. Not care about leading whitespace (`\s*`)
1. Always match on the last set of parentheses (`.+`)
1. Require it be `(GH-` or `(#` (`(?:GH-|#)`)

[2018-05-16 20:41] #95 closed

[2018-05-31 11:22] csabella opened #106 "Automatically add type labels"
The labels for `type-documentation` and `type-tests` could automatically be added to pull requests based on the types of files included.  For example, `type-documentation` would contain all `.rst` files, while `type-tests` would contain all files that start with `test_` (except for the blurb).  It may not catch all the changes for documentation and tests, but it would identify some, making triage

[2018-05-31 17:39] brettcannon commented on #106
Factoring the code out is no problem. As for the comment, that's just me being perpetually paranoid about our quota. 😄

[2018-06-11 21:32] Mariatta opened #109 "GitHub is sending us PR synchronize event for a PR that does not exist."
Same issue as described in https://github.com/python/the-knights-who-say-ni/issues/148.
Bedevere is attempting to apply a label to such PR, causing `gidgethub.BadRequest: Not Found` error.

https://github.com/python/bedevere/blob/7cd16efa18fa0bd2c902fea8732623d8d54169bc/bedevere/bpo.py#L35-L42

Perhaps we can catch the error here, so I won't keep getting error alerts.
Thanks.

[2018-06-12 19:21] brettcannon commented on #109
Yep, if GitHub gives us bad data then we should log that fact and then move on.

[2018-06-18 21:44] Mariatta commented on #109
🍝 (copy pasta 😄)

Update from GitHub:

PR 5581 exists, but it just has been marked as "suspicious/spammy", so we and the bots can't access it. The PR was still open and we were receiving the "synchronize" events, breaking the bots.

I have asked GitHub to close the PR, and it has been closed now.

We can still improve the code though if this ever happens again :)

[2018-06-22 08:01] berkerpeksag commented on #14
Adding another item to Brett's list:

4. Forgetting to drop the second PR number for backport PRs, e.g. `bpo-42: Fix spam_eggs() (GH-66)` instead of `bpo-42: Fix spam_eggs() (GH-66) (GH-67)` This is already documented at https://devguide.python.org/gitbootcamp/#backporting-merged-changes (Note that @miss-islington automatically removes it when merging a backport PR, but the PR needs to be approved

[2018-06-22 17:10] Mariatta commented on #14
If people don't mind the noise, we can have the bot post a reminder message once a core dev approved the PR, or once it has `awaiting merge` label.

I personally also just prefer having a bot does the merge, and take care of all these administrative things (and we don't have to keep discussing this) :)

Related issue about automerge by bot https://github.com/python/core-workflow/issues/29, and als

[2018-06-22 17:21] merwok commented on #14
Why edit the PR title?  The bot can replace # with GH and such.

Agreed that a way to give the commit message is needed.

[2018-06-22 17:29] Mariatta commented on #14
To make the PR title and body as the proper commit message.
The PR title provided by contributor is not always appropriate commit message.

[2018-06-22 17:34] merwok commented on #14
Ah right!  I think I assumed that the core reviewer will already edit the PR title if needed, and the bot would only have to change `[3.6]` and `GH-123`.

Having a special message containing both title and body seems to be the simplest, most robust thing.

[2018-06-22 18:35] terryjreedy commented on #14
I often edit PR titles, including my own.  Edits to the PR title are currently ignored by github when merging.  I have to scroll up, copy, scroll down, and paste.  A minor but real annoyance, especially when the change is small and hard to notice.

[2018-06-22 19:07] zware commented on #14
I'd suggest having the merge-bot (which I think we should add :)) add a new comment with the suggested commit message (derived from PR title and commit message(s), but explicitly without the things we complain about :)), and the core dev can edit it at will and add a trigger word at the end (`@mergebot go` or similar) to signal to the bot that it's ready to go with the message now in the bot's com

[2018-06-22 19:15] Mariatta commented on #14
Right, and so I suggest we have our own bot that **will** look at the PR title and body, and use that as commit message :)

I think I've brought up in a mailing list in the past, of issuing the command`@python-bot merge {commit message}`, but someone commented that it will be more hassle to type out those things when they can press one button.
So now I'm suggesting a label `automerge` instead. But

[2018-06-22 21:06] terryjreedy commented on #14
When I have edited title and message and have decided I am ready to merge if and when  CI passes, I would like to be able to click [automerge] and move on to something else.  I presume a command is possible if anyone actually prefers that and say so.

[2018-06-22 21:22] brettcannon commented on #14
There seem to be two things to choose:

1. Where to pull the commit message from (i.e. title + first message or a custom message in another comment)
2. How to trigger the bot (i.e. label or magical comment)

My vote is for:

1. Title + first message (since that's what is going to be in the metadata and what people see and search for later)
2. Label (because we all make typos sometimes 😉 )

And to

[2018-06-24 01:58] terryjreedy opened #111 "Check consistency between merge target and title."
https://github.com/python/cpython/pull/7765
is a trivial doc change intended for master, 3.7, 3.6, and 2.7.  I reviewed,
approved, marked labels, and after a 2nd approval, merged it. miss-islington
cherry-picked it to 3.7, but failed for 3.6 and 2.7.  The author then discovered
that the 3.6 failure was because the original PR was (accidentally) against
3.6, not master.

On core_mentorship, Nick su

[2018-06-24 02:07] Mariatta commented on #111
Duplicate of https://github.com/python/core-workflow/issues/211

[2018-06-25 13:05] andresdelfino opened #113 "Automatically remove all "awaiting" tags when closing/merging a PR"
I have some closed/merged PRs that have one of the "awaiting" on them, and I guess it's common to forget to remove tags. I believe these are unnecessary entries that clutter the view when you people filter the list.

I thought they could be automatically removed when a PR is closed/merged. They aren't useful anymore, right?

If this is deemed useful, I could make a PR.

[2018-06-25 17:38] andresdelfino commented on #113
This might be useless, as I just noticed all the PRs are shown in an "Open" tab :stuck_out_tongue:

[2018-06-25 21:14] terryjreedy commented on #113
I believe that Awaiting usually is auto-removed when a PR is merged.  Please posts links to examples where this did not occur.  Removing when closed would be a nuisance if the closure is temporary to re-trigger CI bots.

[2018-06-25 21:19] andresdelfino commented on #113
Here are all my closed/merged PRs with "awaiting" labels:

https://github.com/python/cpython/pull/7769
https://github.com/python/cpython/pull/7741
https://github.com/python/cpython/pull/7728
https://github.com/python/cpython/pull/7694
https://github.com/python/cpython/pull/7673
https://github.com/python/cpython/pull/7608
https://github.com/python/cpython/pull/7586
https://github.com/python/cpython

[2018-06-25 22:00] Mariatta commented on #113
All "awaiting ..." labels should have been removed when the PR is merged (done in https://github.com/python/bedevere/pull/58).

On purpose the "awaiting ..." label isn't removed the PR get closed, and not merged. Sometimes we need to close and re-open a PR for various reasons (mistakenly pressed "close and comment", or needing to retrigger the CI). By leaving the labels, at least we can continue t

[2018-06-25 22:05] Mariatta commented on #113
@andresdelfino One thing you can do add additional test cases.

https://github.com/python/bedevere/blob/7bc79be974d02b3a202ee42b8d8b6c82ba285b9a/tests/test_stage.py#L545
We tested that "awaiting merge" label gets removed after the PR is merged. There was no test for the other "awaiting ..." labels.
We should add additional test cases that other "awaiting ..." labels are removed too.

[2018-06-25 22:21] andresdelfino commented on #113
I definitely see the advantages of the current behaviour now that you mention this.

Sure, I'll work on that :) Thanks for mentioning it!

[2018-06-25 22:34] Mariatta commented on #113
I've manually removed those labels.

[2018-07-05 16:51] Mariatta opened #117 "Check for news entry when PR was re-opened"
I was going through several old PRs, and tried to retrigger all CI and status checks by closing and re-opening the PR.

Seems like the news status check is not being done when PR is `reopened`.

Example: https://github.com/python/cpython/pull/1766

[2018-07-09 04:36] #113 closed

[2018-07-12 19:09] storymode7 commented on #103
Hey,
This seems interesting. I would love to fix this issue! :smiley:

[2018-07-12 19:22] Mariatta commented on #103
Go for it! Let me know if you have questions!

[2018-07-14 01:41] #117 closed

[2018-07-21 03:44] #111 closed

[2018-07-27 04:09] #103 closed

[2018-07-27 04:10] Mariatta commented on #106
Closed in https://github.com/python/bedevere/pull/108

[2018-07-27 04:10] #106 closed

[2018-07-28 15:16] encukou opened #124 "backport check fails for Python 2.7 fix that's not a backport"
https://github.com/python/cpython/pull/8449 is a fix for a bug that doesn't appear in Python 3. There's no corresponding PR for master. But, Bedevere's [backport check](https://github.com/python/bedevere/blob/master/bedevere/backport.py#L72) sees a PR for a maintenance branch, and insists that there should be a `(GH-XXX)` note in the title.

I didn't find guidance for this specific case in the dev

[2018-07-28 16:47] encukou commented on #124
I just noticed this is already being discussed in https://github.com/python/core-workflow/issues/211

[2018-07-28 18:03] terryjreedy commented on #124
I just added python/core-workflow#278, suggesting a 'skip backport' label for this situation.

[2018-07-29 18:48] Mariatta commented on #124
This status check is optional so you can still merge the PR.

I think for now I'll just drop the check for `(GH-NNNN)`, and only checking for `[X.Y]`, so we don't need a new label.

[2018-08-04 14:59] #124 closed

[2018-08-22 13:30] Mariatta opened #127 "Check-news status: check that the news file is not empty."
In https://github.com/python/cpython/pull/8857, they created an empty news file (to make the status pass?) :woman_shrugging:
I think it is possible to check for the content of the file, and ensure it is not empty, before posting the success status.

[2018-08-23 00:29] terryjreedy commented on #127
After Cheryl Sabella had some experience, I asked her to include news files with her patches even though I would edit before pushing.  Blank was fine.  The reason for me was that it is much easier, when near ready to commit, to edit an existing file with the web editor than to push a new file.

However, I see the danger that a commit could be made without the edit.  If a check is added, a minimum

[2018-08-24 18:32] #127 closed

[2018-09-10 22:59] Mariatta commented on #14
I've made the PR to let miss-islington merge the PR: https://github.com/python/miss-islington/pull/146

The conditions to let miss-islington merge the PR:
- ALL CI status checks passed
- it has `awaiting merge` label
- it has `automerge` label (new label that we should create)

It will take the PR title and PR description as the commit message.

It will replace `#` with `GH-`.

[2018-09-14 03:29] Mariatta opened #130 "Automatically add "DO-NOT-MERGE" label on wip PRs"
If PR title starts with `wip` or `wip:`, apply `DO-NOT-MERGE` label.
Remove the label if `wip` has been removed.

Requested by @asvetlov during sprint.

[2018-09-21 21:32] brettcannon commented on #130
SGTM!

[2018-10-03 22:37] csabella commented on #130
Would it be OK for me to work on this?

[2018-10-05 23:16] brettcannon commented on #130
@csabella I have no objections and I would be surprised if Mariatta did, but we are both taking a month off from open source volunteering, so don't be surprised if we don't get to reviewing any PRs until November.

[2018-10-06 21:08] csabella commented on #130
Thanks Brett!  I appreciate you letting me know.  There's a few design questions I have, so I'll hold off asking them just so you don't feel pressured in checking in .  :-)

[2018-10-10 16:58] brettcannon opened #133 "Fix link to bugs.python.org"
Link to bugs.python.org, not www.bugs.python.org.

[2018-10-15 22:04] matrixise opened #135 "Add 'awaiting reviews' with 'CLA not signed'"
Hi,

You can check with this PR, `the-knights-who-say-hi` add the label `CLA not signed` but after, bedevere add `awaiting review`.

Normally, the `bedevere` should only add `awaiting review` if the CLA is signed. Is it right?

https://github.com/python/cpython/pull/9840

[2018-10-16 20:39] brettcannon commented on #135
The bots run independent of each other so there is no checking of each other's labels.

[2018-10-16 20:39] #135 closed

[2018-10-17 16:02] tirkarthi opened #136 "Automatically hyperlinking of `bpo-` text sometimes causes confusion"
Automatically changing bpo-DDDD to a link to bugs.python.org was introduced in #121 . It's a useful feature but there are a few cases where the PR was raised with wrong title format and while specifying the correct format and the bot rewrites bpo number in the text as a link causing confusion. It does rewriting without notification and thus the comments are silently overwritten unless OP re-reads

[2018-10-17 16:58] terryjreedy commented on #136
These seem like rather isolated incidents to me.  For 9906, the comment should have been much more specific. "In the title, change 'pbo' to 'bpo'.  A core developer would (I hope) have just made the change, but I am guessing that you currently cannot .  For 9755, the new contributor put the bpo number in the commit message, where it should not be, instead of in the title, where it belongs and wher

[2018-10-17 17:03] danishprakash commented on #136
I guess it would be suitable if the bot wouldn't auto-expand links in inline code blocks and mutliline code blocks. That should do the job. Are you working on this @tirkarthi?

[2018-10-17 17:39] tirkarthi commented on #136
@danishprakash No, I am not working on this.

@terryjreedy Yes, I can see the feature being useful but it's just that it can be avoided inside the backticks. But it's just a suggestion though based on the two PRs and I am okay if this is not implemented.

Thanks

[2018-10-17 23:10] ned-deily commented on #136
@terryjreedy I'm also confused by your comment.  The problem in 9755 had nothing to do with the original contributor's PR; it's that the bot incorrectly altered the comments that Carol and I made.

[2018-10-19 15:58] matrixise commented on #130
Hi @csabella,

I know you would like to write a PR for this issue but I am also interested to write it. Do you think we could work together for the PR because I don't know the code of `bedevere` and I would like to learn.

Thank you,

[2018-10-21 19:53] storymode7 commented on #136
If nobody's working on it, I'd love to fix this.

[2018-10-22 04:57] danishprakash commented on #136
@storymode7 we're still discussing the possible way to go forward with this. As discussed in the other thread, It's preferred to have the bot leave code blocks untouched. I'm working on this but a solid decision from the core members is what's required before I submit any patch.

[2018-10-22 16:07] storymode7 commented on #136
@danishprakash sure. Let me know if I can be of any help.

[2018-10-25 21:05] zware opened #137 "Leave a message when closing maintenance branch merge PRs"
Some of the recent maintenance branch merge PRs (such as python/cpython#10104) appear to actually be people trying to create a bug report in a very poor manner.  It would be nice to leave a message from @bedevere-bot in such a case; just something along the lines of "PRs attempting to merge a maintenance branch into the master branch are deemed to be spam and automatically closed.  If you were att

[2018-10-25 21:10] zware commented on #133
Fixed by #134.

[2018-10-25 21:10] #133 closed

[2018-10-30 14:50] pganssle opened #139 "Non-core review downgrades core dev PRs"
[This PR](https://github.com/python/cpython/pull/10238) from @vstinner was initially labeled "awaiting merge", which I suppose is the default behavior when a core dev makes a PR, even before review.

I (not a core dev) reviewed the code and approved the changes, which triggered bedevere to remove "awaiting merge" and **add** "awaiting core review".

I'm guessing this is because my review triggered

[2018-10-30 14:52] pganssle commented on #139
I believe the problem is [here](https://github.com/python/bedevere/blob/b295fc6297189871a0ad69608ff818cd6d28634d/bedevere/stage.py#L172).

[2018-11-01 23:50] Mariatta commented on #139
I'm thinking it's ok for a core dev's PR to be "awaiting core review" after a review by a non core-dev.
Or perhaps only add "awaiting core review" if the review is "Changes requested"?

[2018-11-03 00:35] Mariatta commented on #139
IMO Option 1) will bring the most disruptive change to our existing workflow. While it is true for core devs the "awaiting review" label is mainly for informational purpose, and does not block merging, our other bot miss-islington depend on the "awaiting merge" label for automerge. So if core devs PRs will always start with "awaiting review" now, it means most of them can't be easily automatically

[2018-11-03 03:46] terryjreedy commented on #139
OK.  I have never used auomerge, so I did not consider it. 2 is with me too.

[2018-11-07 18:53] #137 closed

[2018-11-11 19:32] Mariatta opened #141 "Automatically apply "awaiting merge" to successful backport PRs"
Perhaps backport PRs made by miss-islington can go straight to awaiting merge, so it can be automatically merged after all CI passed.

[2018-11-11 19:35] Mariatta commented on #130
Hi I wasn't planning to work on this myself, merely reporting a feature request by Andrew during the sprint. I also haven't put in much thought into the implementation, I only think that this is possible.
@csabella you mentioned already starting on this but you have questions. Perhaps you can share what concerns you have about this issue,and we can all discuss them here.

[2018-11-14 19:07] Mariatta commented on #141
Current [poll](https://discuss.python.org/t/should-successful-backport-prs-by-miss-islington-be-automatically-approved/425) seems to indicate most core devs don't want this automation.
I still think it's worth doing for docs only changes 🤷‍♀️

[2018-11-16 00:10] csabella commented on #130
Thanks @Mariatta!

While I was looking at this, I came up with 2 possible ways of fitting it in with existing logic:
1.  Make it a stage like `awaiting review` or `awaiting merge`.  I initially started coding this in `stage.py`, but then realized that a con for this approach is that the stages are mutually exclusive and it might be valuable to have the `DO NOT MERGE` label at      the same time as

[2018-11-16 20:23] brettcannon commented on #130
@csabella you could also create a new `wip.py` to handle this case.

Basically the modules in this bot are meant to represent what they are semantically dealing with, e.g. `bpo` deals with automation regarding b.p.o, not specifically titles of issues.

[2018-12-11 21:58] Mariatta opened #146 "Linkify bpo in commit comments."
I left a comment in this commit https://github.com/python/cpython/commit/eeadf5fc231163ec97a8010754d9c995c7c14876#r31642634, mentioning bpo-31339.
I was expecting that it would be linked to bugs.python.org/issue31339, but it didn't 🙁

We don't leave commit comments very often, but it would be nice it this had worked :)

If this gets implemented, we need to enable the commit comment webhook event.

[2018-12-14 14:33] lysnikolaou commented on #15
Is this issue resolved or should it be implemented? If so, I would be happy to take it up.

[2018-12-14 19:26] Mariatta opened #148 "Improve the readme"
Currently readme.md only mentions that this bot identifies missing issue number.

It actually does more now:
- identifies missing misc/news.d file
- automatically links bpo
- automatically closes invalid pr
- automatically labels documentation prs with `type-documentation` label
- copies over labels from master PR to backport PRs
- etc

It would be great if the readme can be updated with these inf

[2018-12-14 23:18] csabella commented on #130
Sorry, I haven't responded sooner to the last comment.  @matrixise, do you think you want to work on this or is it OK if I take a look?

[2018-12-20 16:02] cjw296 opened #149 "Is "Please replace # with GH- in the commit message next time" needed?"
This one keeps catching me out, if bedevere can spot the pattern to generate the warning, could it not just pick out what it needs?

eg: https://github.com/python/cpython/pull/11176

[2018-12-20 16:45] Mariatta commented on #149
This explains why it can only be caught after you merged.
https://github.com/python/bedevere/issues/14#issuecomment-361452851

The automerge by miss-islington takes care of the commit message, so I suggest using the automerge label.

[2018-12-20 16:54] cjw296 commented on #149
Sorry, I couldn't really follow that discussion, it's mixed in with a whole bunch of other stuff.

Speaking of miss-islington, often seeing double-processing from her, eg: https://github.com/python/cpython/pull/11266

I have to admit, I'm not fan of squash commits anyway, but just going with the flow and trying to get stuff done...

[2018-12-20 17:22] Mariatta commented on #149
The actual answer is in here: https://github.com/python/bedevere/issues/14#issuecomment-361461960, but I'll give you time to read through the discussion.
Short answer is that you'll need to change the commit message. It cannot be changed after you merged, and therefore the only thing we can do is to remind you to change it in future commits.

The double message is known issue (https://github.com/p

[2018-12-20 17:22] #149 closed

[2019-01-13 09:13] hugovk commented on #136
Here's another example of the bot breaking marked-up code:

https://github.com/python/cpython/pull/10021#issuecomment-435434983

[2019-02-06 10:07] matrixise commented on #130
Hi @csabella

Really sorry for this big delay for my answer. I can work on this issue.

[2019-02-12 00:13] Mariatta opened #153 "Testsuite failed in Python 3.7.2"
When I run bedevere's test suite in Python 3.7.2, there are failing tests, but I don't know whether the fix is in bedevere or one of the dependencies.

[code]
[code]

One of the results:

[code]

[2019-02-12 03:12] Mariatta commented on #153
Seems like this failed in 3.7.1 too (#154)

[2019-02-12 18:02] Mariatta commented on #153
Seems like issue with uritemplate library. I've made a PR to attempt fixing it https://github.com/python-hyper/uritemplate/pull/41 🤞

[2019-02-14 17:16] matrixise commented on #130
Hi all, there is a new feature from Github, the Draft PR see https://twitter.com/github/status/1096093162345508864

[2019-02-14 18:20] Mariatta commented on #130
Very useful feature! Thanks for sharing! With the draft PR, I don't think we need to implement the bot for it.
Perhaps would be good to announce in core-workflow, as well as adding in devguide to encourage people to use the draft PR feature for unfinished work. @matrixise

[2019-02-14 23:21] brettcannon commented on #130
I agree w/ @Mariatta that draft PRs negate needing to worry about adding the label automatically.

[2019-02-14 23:21] #130 closed

[2019-02-16 03:49] Mariatta commented on #153
Closed via #154

[2019-02-16 03:49] #153 closed

[2019-03-20 19:23] brettcannon opened #157 "Label new PRs from core devs with `needs core review`"
See https://discuss.python.org/t/poll-what-label-should-prs-from-core-devs-automatically-receive/970

[2019-03-21 01:41] lysnikolaou commented on #139
I think, that since #157 this is no longer an issue, so it can be closed.

[2019-03-21 20:01] brettcannon commented on #139
@lysnikolaou there might still be an issue of accidentally lowering the status, so I'm not quite ready to close this issue until we have a test to make sure you can't accidentally change the state.

[2019-03-22 22:00] #157 closed

[2019-04-06 02:10] Mariatta opened #162 "GitHub error"
I just received error alert for this. I haven't have time to investigate. Not sure if error is on our side or GitHub.

Apr 05 18:55:28 bedevere app/web.1:  Traceback (most recent call last):
Apr 05 18:55:28 bedevere app/web.1:    File "/app/bedevere/__main__.py", line 38, in main
Apr 05 18:55:28 bedevere app/web.1:      await router.dispatch(event, gh)
Apr 05 18:55:28 bedevere app/web.1:    File "

[2019-04-08 02:48] #162 closed

[2019-04-15 06:48] GPHemsley opened #164 "Bot breaks existing links that contain bpo numbers"
If the text of a Markdown link contains a mention of a bpo issue, the bot will replace that mention with an embedded link, breaking the syntax, and there is no way to stop it from happening.

The bot should not try to edit existing link text.

Example:
https://github.com/python/cpython/pull/5046#issuecomment-483065260

[2019-04-17 00:42] brettcannon commented on #164
Happy to review a PR to make the bot smart enough to not rewrite preexisting links!

[2019-04-23 00:47] brettcannon opened #165 "Automatically request new review when state changed to "awaiting change review""
Now that GitHub has the concept of a "review request", we could take advantage of that when Bedevere is triggered to message people requesting changes by requesting reviews again from those people. That way we get both the label to tell people when viewing their https://github.com/pulls/review-requested page, but also any other part of the GitHub UI which renders review states.

[2019-05-06 17:30] #146 closed

[2019-05-06 18:46] lysnikolaou commented on #165
Would it maybe make sense to wait until the warning on the [Review Requests API page](https://developer.github.com/v3/pulls/review_requests/) gets out of the way?

[2019-05-10 21:43] brettcannon commented on #165
@lysnikolaou it depends on whether that warning applies to just the emoji support or the API all-up. Plus I didn't want to forget the idea so I opened this issue regardless.

[2019-05-11 19:10] lysnikolaou commented on #165
You are right, @brettcannon. After some digging, I found out that the API itself is **not** in beta, so it must be ready to use in production. I'll try to have a PR ready in the next days.

[2019-05-23 04:35] maxking opened #169 "Add tags to pull request based on codeowners"
Today, Python uses "codeowners" features to notify the team that owns the part of the code where there is a new PR, but there seems to be no way for non-core developers (or, more generally, people who are not in the "team") to filter pull requests by component.

My personal need to have a filter for emails to review for python/email team, but I am not a part of it. I am not sure if there is enough

[2019-05-23 22:27] brettcannon commented on #169
You seem to be looking for a push notification system, but I believe someone posted to discuss.python.org a link to a tool that crawled the opened PRs that let you filter by what files were being touched (@csabella might remember the exact location of the tool).

[2019-05-23 22:43] maxking commented on #169
Well, being able to filter in UI would be better than having to manage a set of notifications (via email or other).

But I can work with that tool too, thanks @brettcannon!

[2019-05-24 00:50] csabella commented on #169
@curiouslearner added a UI to my static file during the PyCon sprints.  There is still work being done to find a permanent home for this page and it's still being developed (@matrixise has a version using GraphQL), but here's a site that is usable for now: http://mymaytemp.pythonanywhere.com/

[2019-05-24 21:21] maxking commented on #169
Thanks @csabella!

So, I am wondering if there is any interest in having such a feature in bedevere? Or should I close this issue?

[2019-05-27 17:53] brettcannon commented on #169
For now I think it would be better to send a PR to add yourself to `.github/CODEOWNERS` and have @warsaw accept it.

[2019-05-27 17:53] #169 closed

[2019-05-27 22:40] maxking commented on #169
Thanks @brettcannon ! Created https://github.com/python/cpython/pull/13599

[2019-05-30 18:00] maxking commented on #169
Does the Python org have access to the new `triager` permission level? If yes, can I request to be added to that?

[2019-05-30 18:15] Mariatta commented on #169
Not yet.

[2019-05-31 22:37] #164 closed

[2019-06-07 17:50] Mariatta commented on #169
I've filed a request to GitHub to enable the beta triage feature in CPython repo.

[2019-06-14 15:32] jdemeyer opened #175 "Magic comments for labels"
Since labels are pretty important for a CPython PR, it annoys me that ordinary users like me cannot add them. And as far as I know, it's not possible to give people permission to add labels without actually giving them write access.

Since bedevere can read comments and can apply labels, we could use this to allow for special comments to apply labels. For example, the comment `please skip news` (o

[2019-06-14 18:53] brettcannon commented on #175
GitHub has in beta the [triage permission](https://help.github.com/en/articles/repository-permission-levels-for-an-organization) for this exact scenario of allowing people to change labels but not accept PRs, so that's our plan long-term for solving this.

[2019-06-14 18:53] #175 closed

[2019-06-14 19:04] Mariatta commented on #175
Last week I've filed a request to GitHub to enable the triage permission to CPython. No reply yet.

[2019-06-16 07:54] jdemeyer commented on #175
It doesn't really solve the problem because:

1. Allowing to add arbitrary labels might be dangerous, since you don't want untrusted people to add the `automerge` label for example.
2. Because of 1, you can't give triage permission too easily, so you're just shifting the problem from non-core developers to non-triage-permission developers.

[2019-06-17 19:51] Mariatta commented on #175
The plan is to adjust the bot to not listen to automerge if it wasn't added by core-dev. Related discussion https://discuss.python.org/t/proposal-create-bug-triage-team-on-github/992

Current bpo also allows any issue creator to assign any label they want, leaving it to core devs and triagers to re-adjust labels, so I don't feel like this is a "new" problem to us.

[2019-06-17 20:54] terryjreedy commented on #175
The main plus of letting issue creators adjust headers is that we can ask them to close an issue.  I presume they can do the same with PRs.  The main minus is that they can re-open an issue when we (coredevs) have closed it.  Letting them set others is pretty much a wash, as they often set them wrong.

[2019-07-03 08:18] maxking opened #179 "Automatically add 'Backport to xxx' labels based on the affected versions in bpo"
This is just an idea which I think might be helpful for some core devs. I know that the information in bpo might be outdated depending on the age of the ticket, but could be helpful in some situations.

[2019-07-03 10:59] lysnikolaou commented on #179
This was already implemented by Mariatta in #174.

[2019-07-03 14:50] zware commented on #179
#174 automatically adds *new* "backport" labels when a new branch is opened; I believe @maxking is requesting that the "backport" labels be *applied* to PRs based on the "versions" field of the linked bpo issue.

[2019-07-03 15:23] Mariatta commented on #179
We can't do this because bpo is not sending us webhook event when the ticket/version got updated.

[2019-07-03 15:30] Mariatta commented on #179
I also have an alternative idea https://github.com/python/core-workflow/issues/267

[2019-07-03 16:31] lysnikolaou commented on #179
@zware Thanks for the explanation. I guess, I didn't take enough time to understand what was being proposed. Sorry.

[2019-07-09 08:38] maxking commented on #179
Sorry for not being clear in the issue, I meant exactly what Zachary said. Thanks Mariatta for the exaplanation, I'll close this for now.

Also, @Mariatta I guess core-workflow is the right place for such issues/requests in future?

[2019-07-09 08:38] #179 closed

[2019-07-09 22:05] brettcannon commented on #179
@maxking correct. Only stuff directly pertaining to the bot should be placed here. All other discussions go to core-workflow.

[2019-07-12 05:31] ssd71 commented on #148
I would like to try, where should I get started?

[2019-07-12 15:22] lysnikolaou commented on #148
Hey @ssd71 and thanks for showing interest. Workflow-wise you'd first of all need to fork `bedevere` and then create a PR. Content-wise try updating `README` to include the topics @Mariatta mentioned in her post. Try to cover everything without worrying about implementation details. Should we need/want something more that what you push, we can talk again after you've published your PR.

[2019-07-12 18:15] Mariatta commented on #148
The readme file to be changed is at https://github.com/python/bedevere/blob/master/README.md.

You can edit directly in GitHub or by forking and cloning it locally on your machine.

I also think it doesn't have to be fully complete in the first try. We can always add more content later.

[2019-07-12 18:29] ssd71 commented on #148
I have added a pull request, please take a look at it, Thanks! :)

[2019-07-18 18:30] brettcannon commented on #148
Closed by #181

[2019-07-18 18:30] #148 closed

[2019-07-19 15:40] Mariatta commented on #141
Since backport can now  be triggered by triager, perhaps it is still good to have core dev reviewing backport PR. Closing this issue for now.

[2019-07-19 15:40] #141 closed

[2019-08-02 22:50] brettcannon opened #184 "Improve state graph"
https://github.com/python/bedevere/pull/182 made it a bit obvious that some edge descriptions are a bit too simple to properly convey what's going on, e.g. the "New PR" edge labels don't distinguish that in one case it's for PRs from core devs and the other is for everyone else. It would probably be  good to touch up the graph to make it more self-evident how things are supposed to work.

[2019-08-03 04:04] potomak commented on #139
@brettcannon do you think we can close this issue now that there's a test specifically for this case?

[2019-08-09 18:36] brettcannon commented on #139
@potomak yes we can!

[2019-08-09 18:36] #139 closed

[2019-09-10 11:27] lysnikolaou commented on #15
This should be closed since #159 is now merged.

[2019-09-12 18:04] miss-islington opened #189 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1679
Message:
Python 3.7.4 and 3.6.9 are now available on all stacks. See Heroku Python Support for more details.

The get-pip tool used by the Python Buildpack has also been updated.

(

[2019-09-13 09:51] #165 closed

[2019-09-13 09:51] brettcannon commented on #165
@lysnikolaou you're right. :)

[2019-09-13 09:53] #15 closed

[2019-09-18 17:52] brettcannon commented on #189
Done.

[2019-09-18 17:52] #189 closed

[2019-09-23 15:08] freddrake opened #191 "bpo numbers not always recognized"
For example:
https://github.com/python/cpython/pull/16331

The bpo number is in the issue title, but was added in an edit.  If there's a way to get bedevere to re-examine a PR, I'm not sure what it is, and I didn't see it in the linked portion of the devguide.

[2019-09-23 18:16] brettcannon commented on #191
This was brought up at https://discuss.python.org/t/issue-number-check-not-work/2381/5 and there is support for detecting edits in titles and it's existed for quite a while:

https://github.com/python/bedevere/blob/74cc40bb1fe369f469b18fa6114a3629bab63681/bedevere/bpo.py#L54-L59

There's a separate bug I think that's triggering this problem.

[2019-09-23 18:16] #191 closed

[2019-09-23 18:17] brettcannon opened #192 "`session` object not being sent through appropriately"
[code]

[2019-09-23 18:25] lysnikolaou commented on #192
This is a bug, I introduced in #159. I'll push a fix ASAP. Sorry!

[2019-09-23 18:26] brettcannon commented on #192
@lysnikolaou it happens. 😄 Key thing is to figure out what testing didn't pick it up.

And when you say, "ASAP", do you mean today or later than that? I can try to get a fix out today if you don't have the time.

[2019-09-23 18:53] lysnikolaou commented on #192
@brettcannon I could probably have something ready in 5-6 hours, I'm not 100% sure though.

[2019-09-23 18:55] brettcannon commented on #192
@lysnikolaou OK, make sure to check this issue before you start to see if I left a message that I have started doing the work and I'll do the same. That way no one wastes their time and while still prioritizing getting a fix out.

[2019-09-23 21:54] brettcannon commented on #192
I'm working on a fix.

[2019-09-23 22:40] #192 closed

[2019-10-10 08:36] lysnikolaou commented on #184
It might be a good idea to include an additional edge color for triager actions. Won't make too big of a difference right now, but it could come in handy in the future.

[2019-10-12 14:42] lysnikolaou commented on #109
I'd like to work on this. Do you think that every call to `post` should be wrapped in a `try/except` clause? If that's the case, maybe we could use audit hooks as well.

[2019-10-16 15:29] ssd71 commented on #184
I would like to work on this

[2019-10-16 15:50] lysnikolaou commented on #184
Hey @ssd71, you can go ahead and push a PR for this, when you are ready.

[2019-10-16 17:51] Mariatta commented on #136
Autolinking is now supported by GitHub and I've enabled it in CPython.

Still working on removing the autolink in bedevere.
Related issue: https://github.com/python/core-workflow/issues/361

[2019-10-18 21:56] brettcannon commented on #109
@lysnikolaou this definitely isn't a priority to fix, but yes, a well-documents `try`/`except` with a tight `except` clause would be the way to handle it.

[2019-10-21 20:42] miss-islington opened #198 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1698
Message:
Python version 3.7.5 is now available on all supported Heroku stacks.

In addition, support for new branch Python 3.8.0 was added.

See Python Supported Runtimes for more i

[2019-10-21 21:30] #198 closed

[2019-10-21 21:34] Mariatta commented on #198
I'd love to further automate this and let miss-islington create the PR! 😅

[2019-10-22 01:00] lysnikolaou commented on #198
@Mariatta I could work on implementing this, if you're too busy to do it.

[2019-10-22 03:52] Mariatta commented on #198
Chatted with @CaseyFaist from Heroku about this. She said she might have something in
the works that can help. I'm excited to see what Heroku can do for us! 😃

[2019-10-22 17:01] miss-islington opened #200 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1699
Message:
Python version 2.7.17 is now available on all supported Heroku stacks.

See Python Supported Runtimes for more information.

(I'm a bot) 🤖

[2019-10-22 17:08] Mariatta commented on #200
Not applicable.

[2019-10-22 17:08] #200 closed

[2019-10-24 22:32] hharutyunyan opened #201 "Easter Egg Vids are Unavailable"
The videos for the Easter Egg 1 (soft cushions) and Easter Egg 2 (comfy chair), as well as the video for Fun Thanks (Spanish Inquisition),  are made unavailable on YouTube, while the bot still puts the those in comments.
Probably, the links should be replaced by available ones or should be removed.

[2019-10-25 18:57] brettcannon commented on #201
@hharutyunyan this keeps happening, so I think it might be time to just remove the links. Do you want to propose a PR to do that?

[2019-10-25 19:56] hharutyunyan commented on #201
@brettcannon ok agreed. I’ll propose one later today.

[2019-10-28 18:16] #201 closed

[2019-10-29 01:20] CaseyFaist commented on #198
Hey! Working on one way to address this [here](https://github.com/heroku/heroku-buildpack-python/pull/899); this PR supports setting the python major and minor version while always using the latest patch. I don't think this is a complete solution - the only way to achieve a CI run with the new patch before releasing would be to overwrite `runtime.txt` in the CI environment, which would still resul

[2019-10-29 16:48] Mariatta commented on #198
Thanks @CaseyFaist! I think being able to specify `python-3.7.*` is great. It could really help our workflow here.

[2019-12-23 19:02] miss-islington opened #209 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1722
Message:
New python runtimes Python 3.8.1, 3.7.6, 3.6.10 are now available on the platform.

Additionally, Pypy 2.7 and 3.6 version 7.2.0 are now also released to Beta on the platfo

[2019-12-25 15:10] isidentical opened #210 "Avoiding labeling draft PRs with "awaiting review""
Bedevere doesn't check if the PR is a draft or not, it automatically labels with `awaiting review` or `awaiting core review`. The downside of this is when you search labeled PRs you still encounter with draft PRs which states they are draft so you should pass them until it becomes a normal PR. If agreed I can submit a patch for adding a check if a PR is draft or not.

[2020-01-02 19:27] brettcannon commented on #210
Honestly people shouldn't be submitting draft PRs in the first place. We prefer people do draft PRs in there own fork and then send the PR to CPython when it's ready for review. And now that we have GitHub Actions support everyone gets CI in their fork so there's no need to do a draft PR just to see what CI says.

So honestly I would rather have a discussion at https://discuss.python.org/c/core-wo

[2020-01-02 19:27] #210 closed

[2020-01-14 23:22] Mariatta commented on #209
Blocked by #185

[2020-01-28 07:34] isidentical commented on #210
Right, but there are workflows that are specific to pull requests like test with buildbots labels (instead of pushing upstream's buildbot branch) might be a cool way to use draft PRs to ensure if everything works on every platform and collect stats?

[2020-01-28 19:50] terryjreedy commented on #210
"everyone gets CI in their fork" To do this, would I make a PR to merge my fork branch into my fork master?  (But never actually merge?)  And then what?  Perhaps something should be added to the devguide.

[2020-01-28 21:11] brettcannon commented on #210
@terryjreedy if you look at https://github.com/python/cpython/blob/master/.github/workflows/build.yml you will notice it says any push/merge to master, 3.8, and 3.7 will trigger a run and then any PR that targets those branches. We could loosen those restrictions so that they run on push to any branch so people don't have to do the PR step on their own forks.

And something could be added to the d

[2020-02-27 23:17] miss-islington opened #215 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1742
Message:
Python version 3.8.2 are now available on Heroku 16 and 18.

For more information, see our page on Python Support

(I'm a bot) 🤖

[2020-02-28 19:58] #215 closed

[2020-02-28 19:59] lysnikolaou commented on #209
This can probably be closed as well.

[2020-02-28 20:00] #209 closed

[2020-04-24 11:28] lysnikolaou opened #219 "Changing labels when a review gets requested"
While working on python/cpython#19694, I found out that labels don't change, if a PR has been approved and the author requests a review once more.

I think it would be a good idea to change the label back to `awaiting core review`, when a review gets requested. Thoughts?

[2020-04-24 17:55] brettcannon commented on #219
Seems reasonable. I know @vstinner has been worried about changes made post-approval when auto-merge is turned on. Maybe it's worth resetting the reviews as well?

[2020-04-24 18:00] Mariatta commented on #219
Related issue: https://github.com/python/core-workflow/issues/325

[2020-05-19 16:52] miss-islington opened #223 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1804
Message:
Python (CPython) 2.7.18, 3.5.9, 3.7.7 and 3.8.3 are now available on Heroku.

Additionally, PyPy 2.7 and 3.6 version 7.3.1 are now also released to Beta.

For more informat

[2020-05-19 17:52] #223 closed

[2020-05-19 19:24] Mariatta commented on #219
This has been addressed in #220. Thanks.

[2020-05-19 19:24] #219 closed

[2020-06-19 17:03] Mariatta opened #226 "Dependabot for bedevere is using requirements.in instead of requirements.txt"
I was wondering why dependabot did not bump the sentry-sdk update for bedevere. When I logged in to dependabot, it appears that it checked bedevere's requirements.in instead of requirements.txt.

![Screen Shot 2020-06-19 at 10 01 25 AM](https://user-images.githubusercontent.com/5844587/85161241-54cc8100-b214-11ea-8a6f-b5c53cfdcaf1.png)

requirements.in has not been updated for the past 3 years. Pe

[2020-06-19 17:10] #226 closed

[2020-06-22 19:11] brettcannon commented on #226
@Mariatta controlling Dependabot can be done via a config file: https://help.github.com/en/github/administering-a-repository/enabling-and-disabling-version-updates#enabling-github-dependabot-version-updates

[2020-07-07 18:38] miss-islington opened #243 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1821
Message:
Python (CPython) 3.6.11 and 3.7.8 are now available on Heroku.

For more information, see our page on Python Support .

(I'm a bot) 🤖

[2020-07-07 18:46] Mariatta commented on #243
Bedevere uses Python 3.8 so this does not apply

[2020-07-07 18:46] #243 closed

[2020-07-17 11:35] miss-islington opened #246 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1830
Message:
Python (CPython) 3.8.4 is now available on Heroku.

For more information, see our page on Python Support .

(I'm a bot) 🤖

[2020-07-21 11:03] miss-islington opened #247 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1833
Message:
Python (CPython) 3.8.5 is now available on Heroku.

For more information, see our page on Python Support .

(I'm a bot) 🤖

[2020-08-11 20:03] Mariatta opened #254 "Webhook delivery timeout issue for the validate_maintenance_branch_pr route handler"
While looking into https://github.com/python/cpython/pull/21830, I noticed several failed webhook deliveries.

I attempted to re-deliver the same webhook payloads, but it seems that the webhook event consistently timed out for the  payload below. I think we need to further investigate.

I found that if I removed the `[3.9]` from the title, then the status got posted immediately. (no timeout). And

[2020-08-11 20:45] Mariatta commented on #254
One thing that could be taking up time and causing timeout is when it tries to lookup the original `master` PR, and to remove the `needs backport to X.Y` label from that PR. Perhaps we need to look into optimizing that somehow.

[2020-08-11 23:09] gvanrossum commented on #254
There were some funny things going on in that backport -- the original commit failed to mention the bpo issue (I missed this when merging it) and the backports created by Miss Islington also missed that. I added it back to the PR subject and body but maybe the damage was done. I also tried to close+open one of the backports (I think 3.9) but somehow one of the bots considered the closing permanent

[2020-08-11 23:40] #247 closed

[2020-08-18 12:07] miss-islington opened #259 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1875
Message:
Python (CPython) 3.6.12 and 3.7.9 are now available on Heroku.

For more information, see our page on Python Support .

(I'm a bot) 🤖

[2020-09-04 18:09] Mariatta opened #265 "Post status as "check run" instead of status"
It would be great if bedevere can post the "issue number", "news" and "backport PR" statuses as [Check Runs](https://developer.github.com/v3/checks/runs/#get-a-check-run) instead of status

The other CIs like travis CI, Azure pipelines are already running as Check Run instead of status.

This will help simplify miss-islington's automerge logic so it doesn't have to check in both "status" and "chec

[2020-09-04 21:11] Mariatta commented on #265
In order to post a check run we need a GitHub App for bedevere.

[2020-09-07 12:58] miss-islington opened #266 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1880
Message:
Python (CPython) 3.5.10 is now available on Heroku.

Please note that after 2020-09-13 the upstream Python community will no longer be releasing new updates of Python 3.5 ,

[2020-09-09 20:30] Mariatta commented on #265
I plan to work on this during core sprint.

[2020-09-10 16:22] brettcannon commented on #265
Is it worth converting Bedevere to an app or should we just finally move this all over to GitHub Actions?

[2020-09-14 20:24] Mariatta commented on #266
Not applicable.

[2020-09-14 20:24] #266 closed

[2020-09-15 03:14] Mariatta opened #269 "Move the PR back to awaiting review if review was dismissed"
In https://github.com/python/cpython/pull/22253#pullrequestreview-488290678, I approved the PR but later decided to retract my review.

I think in this situation the PR should be moved back to "awaiting review" state.

[2020-09-16 15:17] Mariatta commented on #265
Sure. I'm more familiar with building GitHub Apps but if it can be done as Actions, that's great too.

[2020-09-16 18:17] brettcannon commented on #265
We can talk about it at the core dev sprint if you want, but basically GitHub Actions get a webhook event just like apps and then you get to specify what you want GitHub to execute in a runner on your  behalf. Obviously reusable actions make it easy to pull together reusable parts, but executing a Python script is dead-simple as well.

[2020-09-24 17:16] dependabot-preview[bot] opened #275 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/python) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/python/update-logs/48622809).

[2020-09-24 18:56] miss-islington opened #276 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1888
Message:
Python (CPython) 3.8.6 is now available on Heroku.

For more information, see our page on Python Support .

(I'm a bot) 🤖

[2020-09-25 17:56] #275 closed

[2020-10-06 14:15] miss-islington opened #280 "🚨 New Python runtime environment in Heroku"
There's a new Python runtime enviornment in Heroku. You might want to update the bot to use the new environment by editing the `runtime.txt` file.

See the changelog at https://devcenter.heroku.com/changelog-items/1928
Message:
Python (CPython) 3.9.0 is now available on Heroku.

To read about what’s changed, see What’s New In Python 3.9 .

The Python buildpack has recently migrated its assets to a

[2020-10-23 21:13] Mariatta opened #287 "Automatically set skip news and skip issue label to dependabot PRs"
We added the config to update GitHub actions dependencies monthly on CPython repo. https://github.com/python/cpython/pull/22787

One thing that would help is to automatically add the `skip news` and `skip news` labels to those PRs.

Example dependabot PR https://github.com/python/cpython/pull/22919

[2020-10-23 21:21] Mariatta commented on #287
We may also need to automatically add the "needs backport to X.Y" label. 🤔

[2020-10-23 21:44] hugovk commented on #287
You should be able to have dependabot add labels itself via config: https://docs.github.com/en/free-pro-team@latest/github/administering-a-repository/configuration-options-for-dependency-updates#labels

[2020-10-23 22:01] Mariatta commented on #287
Thanks for the tip! Like this? https://github.com/python/cpython/pull/22927

[2020-10-24 05:06] hugovk commented on #287
Looks good!

[2020-10-24 14:12] #287 closed

[2020-10-27 08:04] Amyth07 commented on #254
Hey, If this issue is beginner friendly. I can pick this up.

[2020-10-27 16:46] brettcannon commented on #254
@Amyth07 my guess is it's not beginner-friendly as this seems to be a finicky issue.

[2020-10-31 18:51] lysnikolaou opened #291 "'awaiting merge' label gets applied even if PR is closed"
Example: python/cpython#23065.

[2020-10-31 18:56] lysnikolaou commented on #291
I'll quickly fix this later tonight, if we feel it's worth it.

[2020-11-02 21:38] #291 closed

[2020-12-14 18:47] Mariatta commented on #280
Do we want to start using 3.9 for bedevere?

[2020-12-14 18:54] #276 closed

[2020-12-14 19:48] brettcannon commented on #280
It's fine by me.

[2020-12-14 22:41] Mariatta commented on #259
N/A

[2020-12-14 22:41] #259 closed

[2020-12-14 22:41] Mariatta commented on #246
Outdated.

[2020-12-14 22:41] #246 closed

[2020-12-14 22:49] #280 closed

[2020-12-14 22:50] Mariatta commented on #280
It's running Python 3.9.1 now 🎉

[2021-04-05 23:36] Mariatta opened #328 "Regenerate bedevere's access token"
I received email about this change:
https://github.blog/2021-04-05-behind-githubs-new-authentication-token-formats/

I have updated the token for miss-islington. We need to do it for bedevere, but I don't have access to bedevere's account.

Todo:
- [x] Regenerate the access token for bedevere (by going to Settings > Personal Access Token). The token will look like `ghp_.....`
- [x] Set the new acc

[2021-04-06 19:20] brettcannon commented on #328
@Mariatta I updated the token in Heroku. I will give it a day to see if anything breaks before I delete the old token.

I'm also happy to give you access to the GH account. If you want it just let me know.

[2021-04-08 00:00] #328 closed

[2021-04-18 11:26] tiran opened #331 "Canned responses to automate common replies"
Would it be possible to extend Bedevere's vocabulary and teach him canned responses? This would reduce the burden on code reviewers and give users better and more consistent answers. There are issues that pop up in regular intervals, e.g. missing CLA, rebase required, broken tests, missing blurb. In other cases users have ignored Bedevere's instructions and have used GH's review request feature in

[2021-04-19 16:57] Mariatta commented on #331
It's possible. We need to implement and also document all the commands somewhere.

To avoid spam, perhaps the commands should be restricted to: Python core devs, Python triage, and the OP.

[2021-04-19 17:28] Mariatta commented on #331
Also do we want this all part of bedevere codebase, as a new GitHub Action within the CPython repo? What are your recommendations @brettcannon ?

[2021-04-19 23:18] brettcannon commented on #331
I personally would rather either pick apart Bedevere to become a bunch of individual GitHub Actions for easier maintenance, or move Bedevere over wholesale as a GitHub Action.

[2021-04-28 15:01] Mariatta opened #334 "Remove travisci"
The tests seem to be running quite reliably on GitHub Actions. Perhaps we can remove TravisCI now.

Wasn't sure if it's just a matter of removing the yml file, or was there something else we need to do?

[2021-04-28 22:02] #334 closed

[2021-05-03 22:28] vstinner opened #337 "bedevere/maintenance-branch-pr "Not a valid maintenance branch PR title" after Python "master" branch was renamed to "main""
The "master" branch of the https://github.com/python/cpython/ project was renamed to "main". But the bot treats "main" as a "maintenance branch", not as the default branch.

[2021-05-03 22:39] #337 closed

[2021-05-27 21:48] vstinner opened #344 "Move to GitHub Actions"
Sometimes, the 3 "bedevere/*" bots don't run and it is **not possible to merge a PR** :-(

miss-islington created https://github.com/python/cpython/pull/26413 backport PR. I approved it. But the following 3 jobs never ran:

* bedevere/issue-number Expected — Waiting for status to be reported (Required)
* bedevere/maintenance-branch-pr Expected — Waiting for status to be reported (Required)
* bedev

[2021-05-27 23:01] Mariatta commented on #344
bedevere is hosted on Heroku. We set up GitHub webhook that send events to the heroku web service.
Sometimes, the webserver was not able to process the webhook event, and therefore it could not post the correct status.

I looked at the webhook event for the PR you mentioned above, and indeed it was getting 500 error. Most of the time, all I have to do is to redeliver the webhook event.

I think th

[2021-05-28 17:58] brettcannon commented on #344
The other option is to move Bedevere to GitHub Actions as the bot is stateless by design. And making it an action means the executions and results will be entirely public.

The reason it has not happened yet is time and deciding how to do it. Since you can register what triggers a workflow in GitHub Actions, it could be a quick-and-dirty lift of checking this repo's code out into a run and then ex

[2021-05-28 18:59] Mariatta commented on #344
Would it be possible to host the actions code not as part of CPython codebase, but separate repo? Cause I think it's "bulky" to include all of bedevere into CPython source, but maybe it's just me.

[2021-05-28 23:59] brettcannon commented on #344
Yep, you can host it separately (i.e. leave it here). You can use https://github.com/actions/checkout to check out any repo you want, so it could be used to check out Bedevere in a workflow and run the code there since Bedevere doesn't work directly with CPython source but entirely on webhook payloads and stuff you get from the REST API (which I know Mariatta knows, but FYI for everyone else 😄 ).

[2021-08-18 01:51] nightlark commented on #344
Would you want to have a GitHub Action version of bedevere split up so that there is a separate yaml file for each bedevere action (e.g. `issue-number.yaml`, `news.yaml` etc) in the CPython `.github/workflows` directory?

And a 2nd question if splitting is okay -- would you want to keep most of the logic for the action written in Python (based on the existing bedevere code), or would porting some

[2021-08-23 20:05] brettcannon commented on #344
We are definitely not rewriting Bedevere in JavaScript. Replacing some of the checks may be fine with actions from the community if people are okay with that and we take care to not give inappropriate permissions to them (security concern if you give an action that none of us controls write access to the repo). But I do not want our workflow to require someone to know JS in order to be able to und

[2021-11-09 21:08] arhadthedev commented on #344
It would be more idiomatic to wrap Bedevere as a standalone action in its own repository (like `actions/checkout` does) and call it from CPython workflow files. There is even a template for Python-based actions, so JavaScript is used only for a very thin wrapper to pass action parameters: https://github.com/peter-evans/python-action.

As a result, CPython repository will contain not the whole bot

[2021-11-11 00:47] brettcannon commented on #344
We could probably use https://docs.github.com/en/actions/learn-github-actions/reusing-workflows to provide a workflow that can be directly used by the CPython repo.

[2021-11-11 09:26] arhadthedev commented on #344
Thank you for the link, I did not know about this feature. I agree that switching to a builtin (vendored) action is better because nobody outside CPython can use Bedevere without migration to bugs.python.org for some reason.

[2021-11-16 12:31] sabderemane commented on #344
Hi folks, @Mariatta talk to me about this issue, I would like to do it 😄
I just want to be sure I understand correctly, should I do all workflows in cpython repository or here in bedevere and it will be reused by others projects from this one ?

[2021-11-16 17:57] Mariatta commented on #344
Hi @sabderemane, I think it would be better to keep the codebase of bedevere here in this repo, instead of including it in the CPython repo.

[2021-11-16 18:13] nightlark commented on #344
The JavaScript wrapper shown there isn't needed anymore -- composite run step action works for directly running Python code.

A minimal action.yml would be:
[code]

Then in the py_action_import.py file in the same repository:
[code]

I was playing around with this some here: https://github.com/nightlark/test-python-composite-action/tree/main/test-action

[2021-11-16 18:26] Mariatta commented on #344
I'm not a fan of including so much Python code like the above into the yml file. Seems like an anti-pattern.

[2021-11-16 19:02] nightlark commented on #344
That's only 6 lines of code to get it calling into Bedevere, compared to a much larger JavaScript shim for the alternative.

If you think 6 lines is too much, it could easily be brought down to 4 lines (import os was a remnant of other things I was trying and cleaning up sys.path after the import probably isn't needed), or 3 if you make the import start running Bedevere immediately instead of requ

[2021-12-12 03:40] brettcannon commented on #344
@sabderemane are you still planning to take this on?

[2021-12-12 09:37] sabderemane commented on #344
Yes @brettcannon !

[2021-12-16 19:47] jaraco opened #381 "Bedevere rejects change that targets another PR"
In https://github.com/python/cpython/pull/30151, I've written a PR that's based on another PR. In order for the diff to look right but for the code to be based on another PR, I've set the target for the PR as the other PR:

![image](https://user-images.githubusercontent.com/308610/146437948-7fc866f2-a972-4b03-a670-ffa1eba42988.png)

Github supports this workflow and even has some nice features aro

[2021-12-16 19:53] jaraco commented on #381
For this particular case, I found I was able to actually rebase the dependent change, making it independent, and target it at main separately, working around the issue. This would not have been possible if there had been a hard dependency on the first PR.

[2022-02-28 19:45] brettcannon commented on #344
The steering council just talked about turning on 2FA for the Python org and we realized moving Bedevere to GitHub Actions will need to happen beforehand.

[2022-02-28 20:14] sabderemane commented on #344
Is there a deadline for the move on 2FA ?
I have asked @Mariatta her point of view on my last changes, I will see in function of her return to move on and make my PR as soon as possible.

[2022-02-28 20:33] brettcannon commented on #344
No deadline. View my comment more as motivation than anything.

[2022-03-24 21:41] ezio-melotti opened #418 "Update bedevere for the GitHub migration"
Currently bedevere does the following things:
* checks if a bpo link is present in the PR
  * this check is no longer necessary for bpo
  * it might need to be updated to check for a GH or bpo issue
  * eventually the bpo check could be removed
* adds a link to PRs that points to the corresponding bpo issues
  * the link should be updated to use the `bpo-*` form to enable redirects
    * is it pos

[2022-03-24 21:56] Mariatta commented on #418
I've just opened the PR for handling the new labels: #419
I noticed the bpo- check while working on it. I'll try to work on a PR.

[2022-03-24 22:02] Mariatta commented on #418
I'm planning to just remove this at all, so that bedevere will no longer be appending issue link at the end. Is this ok?

[2022-03-24 22:46] brettcannon commented on #418
I think so.

[2022-03-24 23:57] ezio-melotti commented on #418
The reason to change from the full link to `bpo-*` (or better just add `bpo-*` next to it) is that `bpo-*` can automatically redirect to the right GH issue without having to go through the bpo issue manually.  That's also why I was asking if it's possible to update old links -- if not, people will have to deal with a click more and some extra loading time, so it's not the end of the world.

It mig

[2022-03-25 00:13] Mariatta commented on #418
Oh I have started removing the `bpo-` thing altogether before I saw your comment. (see #420)

Updating old prs that has `bpo-` in it can perhaps be done using one-off script.

[2022-04-10 17:30] #418 closed

[2022-04-12 11:57] ezio-melotti opened #426 "Restore support for `bpo-*` issue numbers in PR titles"
https://github.com/python/cpython/pull/91439 failed with
![20220412--01-8](https://user-images.githubusercontent.com/25624924/162955583-9e4de4d6-b48f-4af7-8fa6-6705d3234a08.png)

It seems that after #420 bedevere only looks for GH numbers:
https://github.com/python/bedevere/blob/cd97d6be08485937d36d8ca055879efd510161e9/bedevere/gh_issue.py#L12-L29

This should be updated to try GH first, and fallb

[2022-04-12 17:01] Mariatta opened #428 "Add link to the GitHub Issue from the PR"
We used to automatically append a link to the bpo ticket from the GitHub PR, by looking at the PR title's issue number.

In https://github.com/python/bedevere/pull/420, the functionality was dropped. I had thought that GitHub UI would automatically link the issue number when referenced like this, however this is not a case. GitHub would automatically link the issue in the PR descriptions or in the

[2022-04-12 19:03] brettcannon commented on #426
You should be able to just tweak the regex and update the tests.

P.S. I announced a while back I was stepping down from heading up infrastructure stuff, so I'm not the best person to be cc'ing to get stuff done. 😉

[2022-04-12 22:06] ezio-melotti opened #429 "Mention non-org members on edits on migrated issues"
During the migration it was only possible to map subscriptions for members of the `python` org.  This means that all other users (mapped to mannequins) are not subscribed to issues and are not receiving notifications.  Luckily, in the first comment of each migrated issue, I included the GitHub names of all the nosy members that had their bpo account linked to GitHub.

The only way to resubscribe t

[2022-04-12 23:56] ryanlong1004 commented on #428
@Mariatta there is code than already handles this in gh_issue.py.  Is this issue still valid?

[2022-04-13 00:02] Mariatta commented on #428
We only create status checks in `gh_issue.py`. Basically we need to add back this logic:
https://github.com/python/bedevere/blob/6f4978e1649168c3e4516647d0bdf08e05812afa/bedevere/bpo.py#L42-L47

It was removed in PR #420 when we removed `bpo.py` and added `gh_issue.py`

[2022-04-13 00:02] Mariatta commented on #428
So yes this issue is still valid.

[2022-04-15 08:25] #426 closed

[2022-04-20 19:45] Mariatta opened #439 "Inaccurate message about needing news entry."
The comment by bedevere says "Every change to Python requires a news entry".
But most trivial changes like typo fixes don't.

I wonder if we can reword it, but I also don't have good suggestion on a better wording here.

[2022-04-20 20:08] AlexWaygood commented on #439
The current message is:

Maybe we could change this to:

[2022-04-24 20:51] AlexWaygood commented on #439
Or maybe:

[2022-04-24 21:23] ezio-melotti opened #440 "Conflict while backporting issue-less PRs"
I was trying to backport python/cpython#32342 with `cherry_picker`, and:
* For 3.9/3.10 it added a message about the backport to the original PR, but complained in the checks that the issue number wasn't valid, so I had to remove it from the title
  * python/cpython#91890
  * python/cpython#91891
* For 3.7/3.8 it didn't add a message to the original PR, but also didn't complain even with the PR nu

[2022-04-25 06:49] hugovk opened #441 "Update Codecov global YAML"
Suggestion from #432:

---

Tom from Codecov here. Just saw this PR and wanted to offer my help in case you ran into any issues.

Looking at the global yaml, I'd recommend changing to
[code]
to get non-blocking status checks on PRs

_Originally posted by @thomasrockhu-codecov in https://github.com/python/bedevere/issues/432#issuecomment-1101448522_

---

The global YAML can be updated at https://a

[2022-04-25 06:50] hugovk commented on #441
I've updated the YAML to the above. For reference, here is what it was before:

[code]

[2022-04-25 07:07] hugovk commented on #441
I created https://github.com/python/bedevere/pull/442 and coverage was sent to Codecov: https://codecov.io/gh/python/bedevere/commit/98bca146646c8bd29f3b6cd25c6dc4193e412046/

But no comment was created.

The repo`.github/.codecov.yml` is:

[code]

https://app.codecov.io/gh/python/bedevere/commit/98bca146646c8bd29f3b6cd25c6dc4193e412046 shows the combined YAML:

[code]

@thomasrockhu-codecov Do yo

[2022-04-26 05:12] thomasrockhu-codecov commented on #441
@hugovk nothing comes up immediately to me. I'll need a little time to dig in to figure this out if you don't mind.

[2022-04-26 05:35] hugovk commented on #441
Thank you!

[2022-04-26 23:55] thomasrockhu-codecov commented on #441
@hugovk, sorry it took so long to get back, could you try removing `comment: true` from the yaml? This is a bug on our end with the way we are parsing the yaml.

[2022-04-27 10:04] hugovk commented on #441
Thanks, done in PR https://github.com/python/bedevere/pull/444. I deleted the `.github/.codecov.yml` file because it only contains `comment: true`.

There's no comment on that PR, does it need merging first?

[2022-04-27 13:56] thomasrockhu-codecov commented on #441
No, I don't think so @hugovk let me get back to you on this

[2022-04-29 02:09] thomasrockhu-codecov commented on #441
@hugovk yeas, I do believe this needs to get merged in to override the yaml in the master branch

[2022-04-29 04:41] thomasrockhu-codecov commented on #441
@hugovk I think the problem with removing it completely, is that the global yaml will still be in effect. I think in order to get over that, there needs to be something in the yaml for comment. Sorry for making you do this again, but I would do
[code]
or something similar

[2022-04-29 04:41] thomasrockhu-codecov commented on #441
@hugovk I think the problem with removing it completely, is that the global yaml will still be in effect. I think in order to get over that, there needs to be something in the yaml for comment. Sorry for making you do this again, but I would do
[code]
or something similar

[2022-04-29 08:55] hugovk commented on #441
Sure, please see PR https://github.com/python/bedevere/pull/446. And it worked, thank you!

[2022-04-29 13:09] thomasrockhu-codecov commented on #441
Glad that worked @hugovk!

[2022-04-30 20:17] #441 closed

[2022-05-02 14:53] hugovk commented on #439
The [relevant and linked devguide section](https://devguide.python.org/committing/#updating-news-and-what-s-new-in-python) begins:

Before detailing the exceptions.

We could mirror this language. It would help link Bedevere's comment to the relevant bit of the devguide.

For example:

Or:

[2022-05-02 15:38] ezio-melotti commented on #439
I like this.

A minor nitpick is that "Please add it" is unconditional, probably because the original message said "Every change".

Maybe another option could be:

Or simply:

[2022-05-02 17:23] ethanfurman commented on #439
I like the last option; it states the premise, and how to take any needed action .

[2022-05-02 17:26] AlexWaygood commented on #439
"Almost every change" is objectively correct, but not subjectively correct. This message is only shown to first-time contributors, and they are disproportionately likely to be contributing one-line typo fixes (or similarly trivial docs fixes). I worry that "almost every change requires a news entry" might still lead to lots of new contributors adding unnecessary news entries for that kind of PR.

[2022-05-02 17:39] JelleZijlstra commented on #439
I'm not sure it's even objectively correct. skip-news PRs are pretty common: https://github.com/python/cpython/pulls?q=is%3Aopen+is%3Apr+label%3A%22skip+news%22

[2022-05-03 01:24] ezio-melotti commented on #439
`s/Almost every change/Most changes/`?
Or "Changes to Python generally require..." (possibly preceded by a "Non-trivial").

[2022-05-06 13:51] hugovk commented on #439
I've updated the wording in PR https://github.com/python/bedevere/pull/447 to use "Most changes..."

It would be good to get something merged, because the current wording is causing extra work in needless additions (and deletions), for example https://github.com/python/cpython/pull/92397.

[2022-05-06 13:55] #439 closed

[2022-05-17 11:20] srittau opened #457 "Automatically apply "skip news" when detecting a docs-only change?"
I noticed this in python/cpython#92877: bedevere seems to detect a docs-only change as it applies the "docs" label. But the bedevere/news step still fails as "skip news" is not applied. As docs changes don't need NEWS entries, maybe it would make sense to apply this label automatically and don't the the action step? But maybe there are cases that still require a NEWS entry and that would be missed

[2022-05-17 11:27] AlexWaygood commented on #457
The difficulty is that (according to the current policy as I understand it), _some_ docs changes _do_ require news entries. E.g. if you're adding a whole new section to the docs, or documenting a previously undocumented class or function, that's probably newsworthy.

[2022-05-17 11:35] hugovk commented on #457
The [devguide](https://devguide.python.org/gh-labels/#labels-specific-to-prs) says of "skip news":

Keywords are _trivial_ and _opt-out_.

[2022-05-17 12:27] srittau commented on #457
But a [different section of the devguide](https://devguide.python.org/committing/#updating-news-and-what-s-new-in-python) says:

[2022-05-17 13:21] AA-Turner commented on #457
The first "skip news" label on a PR with "docs" was on 21 May 2017.

Since then, 651 PRs have been labelled "docs", of which 544 (84%) have had both labels.

This indicates to me that applying "skip news" automatically and leaving it to triagers/core developers to remove seems the option that would save the most time.

A

-----

Query for "docs":

https://github.com/python/cpython/pulls?q=is%3Apr+

[2022-05-17 13:29] srittau commented on #457
@AA-Turner Thanks for collecting those stats!

And just to clarify: I have no stake in this as I'm neither a core dev nor a triager. It's just something I noticed that might ease work for those groups and possibly be a bit friendlier to new committers. If you decide that it's a bad idea, that's perfectly fine by me.

[2022-05-17 13:40] AlexWaygood commented on #457
We could also consider tweaking Bedevere's [comments like these](https://github.com/python/cpython/pull/92754#issuecomment-1125518109) so that he doesn't post them on docs-only PRs from first-time contributors

[2022-05-17 13:49] AA-Turner commented on #457
I'd argue it'd be simpler in the logic to just skip the news check altogether by default -- I think it would be odd to not have the message on your first documentation PR, and then to be chastised on your second as you are no longer considered a first-time contributor.

From a quick look at Bedevere's code, it seems we'd need to change `prtype.py` to also apply "skip news" and `filepaths.py` to sw

[2022-05-17 13:50] AlexWaygood commented on #457
He only ever comments on PRs by first-time contributors -- it is assumed that second-time contributors know how to submit NEWS entries :)

[2022-05-17 13:51] AA-Turner commented on #457
Ahh, I retract my comment then. Sorry!

A

[2022-05-17 20:39] ezio-melotti commented on #457
The proposal seems reasonable to me.  If the number of changed lines is readily available we could still apply the label for major changes, but otherwise skipping the label and relying on triagers/reviewers to add it when needed should be ok.

FWIW the *content* of the comment was changed in #447.

[2022-05-30 14:01] ezio-melotti opened #462 "Run Codecov with the right version"
It seems that for every PR, codecov is run 16 times:
* 2 times because the workflow is triggered by both `push` and `pull_request` (#461 fixes that)
* 4 times for each workflow because the tests are run with 4 different Python versions
* 2 times for each check
  * first it''s run with `pytest` in the "Run tests" step
  * then it's run on its own in the "Run codecov/codecov-action@v2" step

I think

[2022-05-30 14:04] ezio-melotti opened #463 "Codecov failing on 3.11"
In https://github.com/python/bedevere/runs/6651826354?check_suite_focus=true the test fail because codecov doesn't reach 100%:
<details>
<summary>See full pytest output</summary>

[code]

</details>

This however only seems to affect 3.11.0-apha, and not the other Python versions.  This should be fixed however -- apparently because of #462 -- the uploaded report doesn't include the failure:
<detai

[2022-05-30 14:20] hugovk commented on #463
Technically Codecov isn't failing, the pytest/coverage check is failing because there's less than 100% coverage for _each individual build_ (`fail_under = 100` in `setup.cfg`).

When all the coverage uploaded to Codecov and combined, the aggregate coverage is 100%.

If we add `--cov-report=term` to the pytest run (https://github.com/hugovk/bedevere/commit/186818ec319e73498c597232a041da774c7cc95e),

[2022-05-30 15:31] ezio-melotti commented on #463
Is there a reason why 3.10 and 3.11 report different coverage for the same code?

[2022-05-30 15:55] hugovk commented on #462
This isn't completely accurate, there's a few things with similar names doing different jobs here.

[pytest](https://docs.pytest.org/) is running the tests using the [pytest-cov](https://pytest-cov.readthedocs.io) plugin, which hooks up the [Coverage.py](https://coverage.readthedocs.io/) tool that does the instrumentation and measuring.

[Codecov](https://about.codecov.io/) is a website and doesn'

[2022-05-30 16:11] hugovk commented on #463
That's a very good question... I've not seen these partial coverage results in Coverage.py before.

It could be a new feature only in 3.11, or (more likely?) a bug in Coverage.py for 3.11, or possibly in Python 3.11 itself?

[2022-05-30 16:37] ezio-melotti commented on #463
This is what I'm wondering :thinking:

All the issues seem to be with `async with`, `async for`, and `if await` lines.

[2022-05-30 16:47] AlexWaygood commented on #463
Maybe this?

- https://github.com/python/cpython/issues/93061

[2022-05-30 17:23] hugovk commented on #463
Good find!

Using https://github.com/deadsnakes/action to test a nightly build of 3.11: https://github.com/hugovk/bedevere/commit/c045c8f011cde74c17e91a92262a1f810fa0551d

And 3.11 passes with 100% coverage :)

https://github.com/hugovk/bedevere/runs/6659010706?check_suite_focus=true#step:7:48

3.11 beta 2 is [due today](https://peps.python.org/pep-0664/), so all should be good tomorrow or the day

[2022-05-30 17:30] ezio-melotti commented on #463
I'll leave this open for now and check back tomorrow to see if the issue is solved.

[2022-05-30 18:11] ezio-melotti commented on #462
Thanks for clarifying!

I thought Codecov ran the coverage tests again and that it was successful because it used a different version of Python instead of using 3.11.  However it was successful not because the coverage check passed during the step (since that was performed in the previous step), but because the upload of the xml report created by `pytest` was successful.  The whole issue was based

[2022-05-31 06:29] hugovk commented on #462
Unfortunately it's not shown as an individual report on Codecov.

PR https://github.com/python/bedevere/pull/464 adds flags, and has an example of how you can filter by version.

https://app.codecov.io/gh/hugovk/bedevere/blob/300b7d0ed649e9535c59db9824e9d1b041080839/bedevere/stage.py

A downside: you do have to be in the file view before filtering to a 3.11 report.

The overview aggregates all rep

[2022-06-02 11:56] ezio-melotti commented on #463
It took yet another beta, but this seems now fixed.

[2022-06-02 11:56] #463 closed

[2022-06-02 11:58] AlexWaygood commented on #463
I remember a time when you had to wait a month before your next beta. Now? A dozen a day. Smdh.

[2022-06-02 15:28] #462 closed

[2022-06-05 19:02] ezio-melotti commented on #457
I found two related issues:
* https://github.com/python/core-workflow/issues/363
* https://github.com/python/core-workflow/issues/421

[2022-06-07 07:53] pitrou opened #467 "Add link to buildbot results"
When the "test-with-buildbots" label is applied, Bedevere [posts a comment](https://github.com/python/cpython/pull/30617#issuecomment-1148319780) to notify that builds have been scheduled, but the comment is quite unhelpful as it doesn't say how the results can be accessed.

It should be possible to add a hyperlink to the buildbot results page for the particular commit, or at least the given PR (f

[2022-06-07 13:53] zware commented on #467
This is all handled in [buildmaster-config](https://github.com/python/buildmaster-config/blob/19e564278169d4ff760d7a7af0d02118a5f2a984/master/custom/pr_testing.py#L16), it just happens to be using Bedevere's credentials to post the comment.

[2022-06-09 17:03] vsajip opened #468 "Fails issue number check even with skip-issue set"
I created a documentation improvement [PR with no issue number](https://github.com/python/cpython/pull/93644) and with `skip-issue` set. There was no problem with bedevere on this, and I successfully merged the PR in due course. I then set back-port flags for 3.10 and 3.11; back-port PRs were duly created and correctly inherited the `skip-issue` label. There were no problems with bedevere on these

[2022-06-10 10:31] vsajip commented on #468
But why would this be called when the `skip-issue` label is applied?

[2022-06-16 09:40] #428 closed

[2022-06-19 07:43] arhadthedev commented on #97
Is the issue still relevant?

[2022-06-19 07:44] arhadthedev commented on #381
Is the issue relevant after the migration?

[2022-06-19 07:50] #97 closed

[2022-06-19 07:52] ezio-melotti commented on #381
Since the issue seems to be about PRs based on other PRs, the migration doesn't affect this issue.  We should verify if the issue is still present or if it got fixed in the meanwhile before closing this.

[2022-06-19 16:07] jaraco opened #469 "Add tox or other test orchestrator to run tests locally"
Today, I started to run the tests on this project only to learn that there's no orchestration for running the tests. The user is required to know the magical setup to run the tests or manually replicate the [steps used by ci](https://github.com/python/bedevere/blob/ad03d53e210b9c2f84733ef8f264e6831b062e40/.github/workflows/ci.yml#L27-L47). I'd prefer if there were a one-command guide on how to run

[2022-06-19 16:39] hugovk commented on #469
Good idea! tox or nox would be great. I have a slight preference to tox because I'm more familiar with it, probably also true with Python developers in general.

Probably because no-one has contributed one yet :)

Agreed, and it means the CI also effectively tests the orchestrator is working properly too.

[2022-06-20 14:35] #469 closed

[2022-06-20 19:08] #381 closed

[2022-07-03 15:00] jaraco commented on #381
I wanted to confirm, this change appears to be working, as is evidenced by https://github.com/python/cpython/pull/94528, which targets https://github.com/python/cpython/pull/93965.

[2022-07-03 17:12] Mariatta commented on #381
Awesome. Thank you!

[2022-07-07 16:54] kj7rrv commented on #457
If adding a new section to the docs is the only common case where a news entry is required, would it be possible to automatically detect that?

[2022-07-08 07:59] DanielNoord commented on #440
The first issue is a duplicate of #468 for which I have a fix in #487.

Should probably refocus this issue on the second issue about not posting a message on the original issue for some python versions.

[2022-07-09 11:46] tiran opened #488 "Bedevere no longer comments on PRs that break stable buildbots"
Bedevere used to comment on PRs that break stable buildbots, e.g. https://github.com/python/cpython/pull/17975#issuecomment-830911179 .

It seems like the feature no longer works. For example PR https://github.com/python/cpython/pull/94549 broke four stable [WebAssembly buildbots](https://buildbot.python.org/all/#/builders?tags=%2Bwasm) but bedever-bot did not add a warning to the PR.

[2022-07-09 13:22] Mariatta commented on #488
I think there's a different webhook for handling that. Try the https://github.com/python/buildmaster-config/ repo.

[2022-07-12 15:29] DanielNoord commented on #254
@Mariatta Is there anyway to get a log or payload from these delivery errors? I have been making some PRs to `bedevere` so I might be able to have a look, but it's difficult to debug a 2 year old issue without the old context becoming removed 😅

[2022-07-12 15:36] DanielNoord commented on #184
@brettcannon I'm not sure if the devguide was around when this issue was created but this information is now also stored on:
https://devguide.python.org/triage/labels/index.html

However, there isn't a flow graph there. Do we want to duplicate the information in this repository? Or do we want to move the graph over to the dev guide?

[2022-07-12 20:41] brettcannon commented on #254
@DanielNoord unfortunately all we ever have is the delivery details from Settings in GitHub itself, and even then we have to notice and go digging them out in the list of every payload delivered.

[2022-07-12 20:43] brettcannon commented on #184
@DanielNoord I don't think the devguide page existed when I opened this issue.

As for where a graph should go, it's an interesting question. If you view it as user documentation then the devguide is the best spot. But if you view it as documentation to help maintain the code, then here is best. And there's also the concern of the devguide's version becoming outdated (although I don't think the ov

[2022-07-12 20:44] brettcannon commented on #71
I think it's worked well enough this entire time that we should drop this idea.

[2022-07-12 20:44] #71 closed

[2022-07-12 21:01] DanielNoord commented on #254
That's too bad.

I'm not sure what this is referring to, see:
https://github.com/python/bedevere/blob/83a2d2273d3825297e2a09ea4024b84ca210439d/bedevere/backport.py#L89-L116

https://github.com/python/bedevere/blob/83a2d2273d3825297e2a09ea4024b84ca210439d/bedevere/backport.py#L70-L82

https://github.com/python/bedevere/blob/83a2d2273d3825297e2a09ea4024b84ca210439d/bedevere/util.py#L142-L148

As far

[2022-07-12 21:14] brettcannon commented on #184
It's actually for @Mariatta to decide as I have stepped down from maintaining Bedevere. 😁

[2022-07-12 22:05] DanielNoord commented on #269
Implementation in https://github.com/python/bedevere/pull/490 😄

[2022-07-13 06:50] hugovk commented on #184
If it is worth keeping, we could put it in Markdown in this repo and have it automatically rendered, using Mermaid:

https://github.blog/2022-02-14-include-diagrams-markdown-files-mermaid/

[2022-07-13 20:05] #457 closed

[2022-07-14 03:11] ezio-melotti commented on #184
https://devguide.python.org/triage/labels/index.html

Note that this is not up-to-date and updating it is on my todo list.  (see also https://github.com/orgs/python/projects/25/views/1)

Cool! I didn't know about this.

[2022-07-15 03:41] ezio-melotti commented on #254
Here is another failed delivery.  I tried to re-deliver and got another 500 error:

<details>
<summary>Click to see delivery details</summary>

[code]
</details>

This is the only failure of the last 48h.  Given that this issue is fairly old, it might be that the original failure was caused by something else, and the one I found is unrelated.

[2022-07-15 07:42] DanielNoord commented on #254
@ezio-melotti Do you have the url to which you tried to deliver? Based on the tests I have one potential idea:
The statuses url requires appending the `{/sha}` but in the tests we don't actually test this and in the `gh.post()` call we also don't supply the sha of the commit to which the status should be applied. Could that be the issue here?

[2022-07-15 22:52] ezio-melotti commented on #254
The delivery I pasted above is the one visible from the GitHub webhook page of the `cpython` repo, so it's the payload sent by GitHub to `https://bedevere.herokuapp.com/`.  I don't have access to the logs of the requests sent back from bedevere to GitHub (if they exist at all).

[2022-08-06 11:49] skirpichev opened #499 "Accept "I have made the requested changes..." in PR review comments"
probably, new_comment() function should handle also the pull_request_review_comment (created) events.  Or the [bot message](https://github.com/python/cpython/pull/25651#issuecomment-1205968350) should be more verbose to specify the required type of comments.

See e.g. [this](https://github.com/python/cpython/pull/25651#discussion_r938676231) comment, which was ignored by bot.

[2022-08-07 20:22] ezio-melotti commented on #184
My plan is to:
* add the graph to the README here (see #500)
* document the labels and link to the graph in the devguide (https://github.com/python/devguide/pull/930)

I think readers of the devguide are more interested in the meaning of the currently applied label, rather than the full flow chart -- if they are curious they can always follow the link.

 I'll add a couple of comments to make sure

[2022-08-08 17:17] #184 closed

[2022-08-18 04:35] ezio-melotti opened #501 "Add PR links to the issue"
Currently, `bedevere` adds a convenient link to issue `gh-NNNNN` to the first message of a PR that includes `gh-NNNNN` in the title when the PR is created:
![image](https://user-images.githubusercontent.com/25624924/185292198-8b42cb57-0c75-4d77-9ab6-97f44de032a8.png)

However, if you look at the [corresponding issue](https://github.com/python/cpython/issues/95853), the link to the PR is lost in th

[2022-08-18 04:46] zware commented on #501
GitHub does now offer actual links between issues and PRs (see the "Development" section in the right sidebar of this or other issues).  However, I have yet to figure out how it's actually supposed to work; the dropdown menu frequently fails to offer me anything approaching relevant, and the magic linking words to include in a message body really are quite magical.  If we could that linking workin

[2022-08-18 05:05] ezio-melotti commented on #501
I created this issue exactly because that feature seems to be kind of useless for our use case.  As far as I understand:
* using [special keywords](https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) links the issue and PR, but also implies that once the PR is merged the issue will be closed.  Since

[2022-08-18 07:15] CAM-Gerlach commented on #501
Additionally, somewhat orthogonal, but PRs can't close other PRs, which is often useful as far as the closing aspect is concerned.

As a sidenote, these cannot be added/changed/removed by triagers unless/until python/core-workflow#460 is resolved.

Yes.

[2022-08-18 11:14] ezio-melotti commented on #501
I can confirm, I just tried to add a PR to an issue and:
![image](https://user-images.githubusercontent.com/25624924/185381305-fa2cea0b-5efa-474d-9132-d98fcd13065c.png)
and
![image](https://user-images.githubusercontent.com/25624924/185381364-c9825be1-55d9-4bb3-8ee5-7a866e9699d3.png)

In the PR I see:
![image](https://user-images.githubusercontent.com/25624924/185381811-65460d33-3da5-4bf5-8ebd-1df

[2022-08-18 14:20] zware commented on #501
Ah.  I had not previously realized how closely coupled they had "linking" and "closing", and [some testing](https://github.com/zware/test/issues/3) shows that there isn't really any way around it :(

On the other hand, links can be made to closed issues, and issues can be reopened; it might not be a bad thing to use the GH linking as is.  I for one am not great at always remembering to close an is

[2022-09-01 22:11] DanielNoord commented on #269
@Mariatta Gentle ping for a review of #490. Not sure if this is appreciated but since this affects `awaiting merge` labels I can imagine this could be more problematic than some of (my) other open PRs.

[2022-09-30 11:23] DanielNoord commented on #468
I have a fix for this in #487. A review would be appreciated 😄

[2022-10-10 19:26] ezio-melotti commented on #468
I just got bitten by this:
* I was backporting https://github.com/python/cpython/pull/92999
* miss-islington created https://github.com/python/cpython/pull/98160 for 3.11 and got
  ![image](https://user-images.githubusercontent.com/25624924/194938369-edc7d4cd-c64c-4d94-b5ba-59506b8f5977.png)
* I manually created https://github.com/python/cpython/pull/98161 for 3.10 and got
  ![image](https://user-

[2022-10-10 19:42] #440 closed

[2022-10-10 20:04] ezio-melotti commented on #468
After merging #487 I manually created https://github.com/python/cpython/pull/98163 and got:
![image](https://user-images.githubusercontent.com/25624924/194943733-efd877ee-83b0-4e67-9c6f-580b0380a9f0.png)

The fix seems to work, thanks @DanielNoord!

[2022-10-30 19:20] #269 closed

[2022-10-31 02:49] #501 closed

[2022-11-06 06:44] ezio-melotti opened #517 "Improve formatting of PR links added to issues"
This is a follow-up of:
* #501
* #511

Currently the code generated when multiple PRs are linked to an issue looks like:
[code]

And the output looks like:
![image](https://user-images.githubusercontent.com/25624924/200157295-5e8a03fc-94e8-4a6e-90d9-b189d7ad71c2.png)

It would be better to:
1. combine these into a single multi-item list, rather than multiple single-item lists
2. use a checklist or

[2022-11-07 17:24] saadmk11 commented on #517
Hi @ezio-melotti, Thanks for creating such a detailed issue. I have added a PR with the required changes here:

- https://github.com/python/bedevere/pull/518

As I do not have access to any **repo/org** with the **tasklist beta** feature enabled, I was only able to test the generated markdown but I was not able to test how it looks after rendering. (This PR generates markdown exactly same as the m

[2022-11-13 15:26] #517 closed